<template>
  <div class="container">
    <div class="row justify-content-center">
      <div v-if="user_role" class="col-md-12">
        <div class="card">
          <div class="card-header text-center">Dashboard-Admin</div>

          <div class="row">
            <div class="col-md-4 ml-2 my-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue">Administration Backend</h5>
                  <p class="card-text">Management de l'application</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Listing</li>
                    <li class="list-group-item">Ajouter</li>
                    <li class="list-group-item">Editer</li>
                    <li class="list-group-item">Supprimer</li>
                  </ul>
                  <a href="/admin" class="btn btn-primary">Go Admin</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 ml-2 my-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue">Dashboard Meistad</h5>
                  <p class="card-text">Suivie activités Meistad</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Listing</li>
                    <li class="list-group-item">Ajouter</li>
                    <li class="list-group-item">Editer</li>
                    <li class="list-group-item">Supprimer</li>
                  </ul>
                  <router-link
                    :to="{ name: 'dash_tresorerie', params: { role: user.role_id } }"
                    class="btn btn-primary mt-2"
                    >Trésorerie</router-link
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3 ml-2 my-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue">Recette</h5>
                  <p class="card-text">Resumé des recettes.<br /></p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Recettes</li>
                    <li class="list-group-item">Charges</li>
                    <li class="list-group-item">Solde</li>
                  </ul>
                  <router-link to="/bilanaddmin" class="btn btn-primary"
                    >Go Bilan</router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="user_refused">
        <div class="alert alert-danger text-center" role="alert">
          <router-link to="/" class="btn btn-primary">Accueil</router-link>
          | Accès interdit, merci !
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AccueilAdmin",
  data() {
    return {
      user: [],
      user_refused: false,
      user_role: false,
      myDashboard: "",
      roles: [1, 3, 5, 6],
    };
  },
  mounted() {
    this.currentuser();
  },
  methods: {
    currentuser() {
      axios
        .get("/currentuser")
        .then((response) => {
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            this.ctionsAuthorized(response.data.role_id);

            if (this.myDashboard == "Go Dashboard") {
              this.user_role = true;
            } else {
              this.user_role = false;
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    ctionsAuthorized(myrole) {
      this.roles.forEach((element) => {
        if (element == myrole) {
          this.myDashboard = "Go Dashboard";
        }
      });
    },
  },
};
</script>

<style scoped></style>
