<template>
  <div class="container">
    <router-link to="/" class="btn btn-primary">Accueil</router-link>
    <div class="alert alert-info mt-2" role="alert">
      <h2 class="text-center">Bilan comptable Meistad</h2>
    </div>

    <div v-if="user_role">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Recette</th>
            <th scope="col">Dépenses</th>
            <th scope="col">Solde</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{ bilan["date"] }}</td>
            <td>{{ bilan["Offrandes"] }} €</td>
            <td>{{ bilan["Depenses"] }} €</td>
            <td>{{ (bilan["Offrandes"] - bilan["Depenses"]).toFixed(2) }} €</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "bilanmeistad",
  data() {
    return {
      bilan: [],
      user: [],
      user_refused: false,
      user_role: false,
    };
  },
  mounted() {
    this.currentuser();
    this.bilans();
  },
  methods: {
    currentuser() {
      axios
        .get("/currentuser")
        .then((response) => {
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            if (this.user.role_id == 1) {
              this.user_role = true;
            } else {
              this.user_role = false;
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    bilans() {
      axios
        .get("/bilan")
        .then((response) => {
          this.bilan = response["data"];
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped></style>
