<template>
    <div class="container">
         <FlashMessage></FlashMessage>

         <div class="alert alert-primary alert_title" role="alert">
             {{ messageInfo.length > 0? messageInfo: 'Enrgistrement Dépense' }}
         </div>


         <div v-if="messageSucces" class="alert alert-success alert_title" role="alert">
            {{ messageSucces }}

        </div>

          <div v-if="justificatif" class="alert alert-danger text-center" role="alert">
                {{ justificatif }}
         </div>

          <div v-if="role_user">

                 <router-link
                    :to="{ name: 'dash_tresorerie', params: { role: user.role_id } }"
                    class="btn btn-primary">Dashboard</router-link>
                  |
                  <router-link to="/listingdepenses" class="btn btn-primary">Listing</router-link>



           <form class="meistad-form" @submit.prevent="checkform" method="POST" enctype="multipart/form-data">

               <p v-if="errors.length" class="text-danger text-center">
                 <b>svp corriger la (les) erreure(s) suivante(s):</b>
                 <ul>
                     <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
                 </ul>
              </p>

               <div class="form-group">
                <label for="datecreate">Date</label>
                <input  v-model="formDepenses.date" type="date"  class="form-control" name="datecreate" id="datecreate"/>
            </div>

             <div class="form-group">
                <label for="depenses">Montant</label>
                <input v-model="formDepenses.montant" type="nummber" step="any"  class="form-control" name="depenses" id="depenses"/>
            </div>

             <div class="form-group">
                  <label for="justif">Réçu:</label>
             <input type="file" name="justif" id="justif" class="form-control" v-on:change="onImageChange">
             </div>


            <div class="form-group">
               <label for="obs">Remarques</label>
               <textarea v-model="formDepenses.obs" class="form-control" name="obsmesure" id="obsmesure" rows="5"></textarea>
           </div>

            <button type="submit" class="btn btn-block btn-primary">Validez</button>

           </form>
          </div>

           <div v-if="user_refused" >

              <div class="alert alert-danger text-center" role="alert">
                  <router-link to="/" class="btn btn-primary">Accueil</router-link>
                   |
                  Accès interdit, merci !

                </div>
          </div>


    </div>
</template>

<script>
export default {
    name: 'Depenses',
    data() {
        return {
            formDepenses: {
                 date: '',
                 montant: '',
                 obs: ''
            },
            errors: [],
             role_meistad: 'tresorier',
             user: [],
             model: 'meistad',
             action: 'ajouter' ,
             user_role: '',
             messagedepenses: '',
             role_user: false,
            user_refused: false,
            currentUser: '',
            messageInfo: '',
            messageSucces: '',
            justificatif: '',
            rolesAutho: [1, 3],
        }
    },
    mounted(){

         axios
        .get('/currentuser')
        .then(response=>{
           this.user=response['data'];
           let obj= this.user
            if (Object.keys(obj).length > 0){

                if (this.ActionsAuthorized(response.data.role_id)==true) {
                    this.currentUser=response['data'].id_user;
                    this.role_user=true;
                }else{
                    this.role_user=false;
                    this.user_refused=true;
                }
            }

        })
        .catch(error=>{
            console.log(error)
        })



    },
    methods: {
      onImageChange(e){
            this.file = e.target.files[0];
           // console.log(this.file)
      },
      checkform(e)
      {
          e.preventDefault();
          let existingObj = this;

            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }

            if (!this.formDepenses.date) {
             this.errors.push('Date  maquante.');
            }

             if (!this.formDepenses.montant) {
                 this.errors.push('Montant  maquant.');
            }

             if (!this.formDepenses.obs) {
                 this.errors.push('Observation maquante.');
            }

            if (this.errors.length > 0 ) {
                this.flashMessage.info({
                title: 'Ooooops',
                message: 'Formulaire invalide verifié les champs, merci'
                });
               setTimeout(() => (this.errors=[] ), 10000);
           }else{
               let justifiactif=document.getElementById("justif").value;
                let data = new FormData();
                   data.append('date', this.formDepenses.date);
                   data.append('montant', this.formDepenses.montant);
                   data.append('obs', this.formDepenses.obs);
                   data.append('file', this.file);
                   data.append('model', this.model);
                   data.append('action', this.action);
                    data.append('user', this.currentUser);


              if (justifiactif.length=='') {
               // alert('Champ Réçu ne peut être vide merci de saisir une preuve : '+justifiactif);
               this.justificatif='Champ Réçu ne peut être vide merci de charger le reçu';
               setTimeout(() => (this.justificatif='' ), 10000);

              }else{
              //  console.log(data)
                axios
                .post('/depense_store',data, config)
                .then(response=> {
                      //  console.log(response)
                    //    existingObj.success = res.data.success;
                    if (response.data=='Dépense enregistrée avec success') {
                         this.messagedepenses=response['data'];
                         this.messageSucces='Dépense enregistré avec succès';

                         this.flashMessage.success({
                            title: 'Success',
                            message: 'Dépense enregistrée avec succès'
                         })

                         setTimeout(() => ( this.messageSucces='' ), 10000);

                        this.formDepenses={};
                        this.file= '';

                    } else {
                        this.messageInfo='Enregistrement Dépense echoué';

                        this.flashMessage.info({
                            title: 'Echec enregistrment dépense',
                            messsage: 'Enregistrement dépense echoué'
                        });
                        setTimeout(() => (this.messageInfo='' ), 5000);
                    }

                })
                .catch(error=> {
                    console.log(error);
                });
            }
           }

      },
      notifSubmit()
      {
         this.flashMessage.success({
               title: 'Success',
               message: this.messagedepenses
           })
      },
      userRole(){
          console.log(this.user)
         if (this.user.role_id==3) {
           this.user_role='tresorier'
          }
      },
      ActionsAuthorized(myrole) {
            for (myrole in this.rolesAutho) {
                if (myrole==1) {
                    return true;
                }


            }
        }

    }
}
</script>

<style scoped>
.meistad-form{
    text-align: center;
}
.alert_title{
    text-align: center;
}
</style>
