<template>
    <div class="container">
          <FlashMessage></FlashMessage>
           <div class="alert alert-primary alert_title" role="alert">
             {{ messageInfo.length > 0? messageInfo: 'Modification Dépense n° '+(this.$route.params.id) }}
         </div>


         <div v-if="messageSucces" class="alert alert-success alert_title" role="alert">
            {{ messageSucces }}

        </div>

         <div v-if="justificatif" class="alert alert-danger text-center" role="alert">
            {{ justificatif }}
        </div>

           <div v-if="role_user">

                <router-link to="/listingdepenses" class="btn btn-primary">Listing</router-link>

                  <form v-if="showForm" class="meistad-form" @submit.prevent="checkform" method="PUT">

                      <p v-if="errors.length" class="text-danger text-center">
                            <b>svp corriger la (les) erreure(s) suivante(s):</b>
                            <ul>
                                <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
                            </ul>
                      </p>

                       <div class="form-group">
                <label for="datecreate">Date</label>
                <div > <p>Ancienne date: {{depense.date_depenses}}</p> </div>

                <input  v-model=" formEditDep.date" type="date"  class="form-control" name="datecreate" id="datecreate"/>
            </div>

            <div class="form-group">
                <label for="depense">Montant</label>
                <div > <p> Ancien montant: {{depense.montant}}</p> </div>
                <input v-model=" formEditDep.montant" type="nummber" step="any"  class="form-control" name="offrandes" id="offrandes"/>
            </div>

             <div class="form-group">
                  <label for="justif">Réçu:</label>
             <input type="file" name="justif" id="justif" class="form-control" v-on:change="onImageChange">
             </div>

            <div class="form-group">
               <label for="obs">Remarques</label>
                <div > <p> Ancien montant: {{depense.remarques}}</p> </div>
               <textarea v-model=" formEditDep.obs" class="form-control" name="obsmesure" id="obsmesure" rows="5"></textarea>
           </div>

          <button type="submit" class="btn btn-block btn-primary">Modifiez Dépense</button>

                  </form>


           </div>
            <div v-if="user_refused">

              <div class="alert alert-danger text-center" role="alert">
                  <router-link to="/" class="btn btn-primary">Accueil</router-link>
                   |
                  Accès interdit, merci !

                </div>
          </div>


    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'EditDepense',
    data(){

        return {
             formEditDep: {
                 date: undefined,
                 montant: undefined,
                 obs: ""
             },
             user: [],
             errors: [],
            notifedit: "",
            depense: [],
            role_user: false,
            user_refused: false,
            messageinfo: "Depense introuvable, modification impossible ",
            model: 'meistad',
            action: 'modifier',
            currentUser: '',
            rolesAutho: [1,3],
            messageInfo: '',
            messageSucces: '',
            showForm: false,
            justificatif: ''

        }
    },
    mounted(){
        this.currentuser();
    },
    methods: {
        getDepense(id) {
             axios
            .get(`/depense/${id}`)
            .then(response=>{

                if (typeof response.data =='object') {
                    this.showForm=true;
                    this.depense=response['data'];
                    //this.notification();
                } else {
                    this.messageInfo= 'Dépense n°'+(id)+', Introuvable';

                    this.flashMessage.error({
                        title: 'Error',
                        message: 'Dépense introuvable , modification impossible'
                    });
                    setTimeout(() => (this.messageInfo = ""), 5000);
                }
            })
            .catch(error=>{
                console.log(error)
            })

        },
        currentuser(){
            axios
            .get('/currentuser')
            .then(response=>{
                this.user=response['data']
                 let obj= this.user
             if (Object.keys(obj).length > 0){


                    if (this.ActionsAuthorized(response.data.role_id)==true) {
                        this.role_user=true;
                        this.currentUser=response['data'].id_user;
                        this.getDepense(this.$route.params.id);
                    }else{
                        this.role_user=false;
                        this.user_refused=true;
                         this.flashMessage.info({
                            title: 'Info',
                            message: 'Unauthenticated'
                        })
                    }

                }

            })
            .catch(error=>{
                console.log(error);
            })
        },
        notification(){
            this.flashMessage.success({
               title: 'Success',
               message: this.messageinfo
           })
        },
        onImageChange(e){
            this.file = e.target.files[0];
           // console.log(this.file)
      },
      checkform(e){

           let existingObj = this;
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }

            if (!this.formEditDep.date) {
             this.errors.push('Date  maquante.');
            }

             if (!this.formEditDep.montant) {
                 this.errors.push('Montant  maquant.');
            }

             if (!this.formEditDep.obs) {
                 this.errors.push('Observation maquante.');
            }

            if (this.errors.length > 0 ) {
                this.flashMessage.info({
                title: 'Ooooops',
                message: 'Formulaire invalide verifié les champs, merci'
                });


               setTimeout(() => (this.errors=[] ), 10000);
           }else{
               let justi=document.getElementById("justif").value;
                let data = new FormData();
                 data.append('date', this.formEditDep.date);
                 data.append('montant', this.formEditDep.montant);
                  data.append('obs', this.formEditDep.obs);
                   data.append('file', this.file);
                   data.append('model', this.model);
                   data.append('action', this.action);
                   data.append('id', this.$route.params.id);
                   data.append('user', this.currentUser)

              if (justi.length=='') {
                //alert('Champ Réçu ne peut être vide merci de saisir une preuve : '+justifiactif);
                this.justificatif='Champ Réçu ne peut être vide merci de saisir le justificatif';

                 setTimeout(() => (this.justificatif = ""), 5000);


            }else{
              //  console.log(data)
                axios.post('/depense_update',data, config)
                    .then(response=> {
                      //  console.log(response)
                    //    existingObj.success = res.data.success;
                        if(response.data=='Dépense modifiée avec succès') {
                            this.messageSucces='Modification réussie';
                            this.messageinfo=response['data'];
                            this. notification();
                            this.formEditDep={};
                            this.file={};
                             setTimeout(() => (this.messageSucces = ""), 5000);
                             this.showForm=false;

                        } else {
                           this.messageInfo='Modification impossible';
                           this.flashMessage.error({
                            title: 'Echec Modification',
                            message: 'Modification dépense echec'
                           });
                           setTimeout(() => (this.messageInfo = ""), 5000);
                        }

                    })
                    .catch(error=> {
                        console.log(error);
                    });

            }
           }

       },
       ActionsAuthorized(myrole) {
        console.log({GetRole: myrole});
            for (myrole in this.rolesAutho) {
                if(myrole==1) {
                  return true;
                }

            }
        }
    }
}
</script>

<style scoped>
.meistad-form{
    text-align: center;
}
.alert_title{
    text-align: center;
}
</style>
