<template>
  <div class="container">
    <FlashMessage></FlashMessage>

    <div class="alert alert-primary alert_title" role="alert">
      {{ messageInfo.length > 0 ? messageInfo : "Listing Dépenses" }}
    </div>

    <div v-if="messageSucces" class="alert alert-success alert_title mt-2" role="alert">
      {{ messageSucces }}
    </div>

    <div v-if="showalertyear" class="alert alert-warning mt-2 text-center" role="alert">
      {{ showalertyear }}
    </div>

    <div v-if="user_role">
      <router-link
        :to="{ name: 'dash_tresorerie', params: { role: user.role_id } }"
        class="btn btn-primary"
        >Dashboard</router-link
      >
      |

      <router-link v-if="admintresorier" to="/depenses" class="btn btn-primary"
        >Ajouter</router-link
      >

      <div v-if="showalertmois" class="alert alert-warning mt-2 text-center" role="alert">
        {{ showalertmois }}
      </div>

      <div class="text-right">
        <label for="pnom">Selectioner une année</label>
        <div class="input-group">
          <select v-model="search" class="custom-select" id="inputProjet">
            <option v-for="(year, index) in listYear" v-bind:key="index">
              {{ year.year }}
            </option>
          </select>
          <div class="input-group-append">
            <button
              class="btn btn-primary"
              type="button"
              title="Search bilan "
              v-on:click="SearchDepenses()"
            >
              Go search
            </button>
          </div>
        </div>
      </div>

      <div v-if="searchresult">
        <div @click="generatePDF(depenses, somme)" class="np-btn">
          <button>Generate PDF</button>
        </div>

        <h6 class="text-center" style="color: green">Résultats de votre recherche</h6>

        <div class="text-center">
          <label for="select">Selectionner un mois</label>
          <div class="input-group">
            <select v-model="selected" class="custom-select" id="selectmois">
              <option v-for="(month, index) in mois" v-bind:key="index">
                {{ month }}
              </option>
            </select>
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                title="Search bilan "
                v-on:click="SearchDepenseMois()"
              >
                Go search
              </button>
            </div>
          </div>
        </div>

        <div v-if="yeardep">
          <h5 style="color: orange">Depenses de l'année : {{ search }}</h5>

          <span style="color: orange">Total: {{ Total }} €</span>
          <!-- Generate pdf-->
          <vue-html2pdf
            :show-layout="false"
            :float-layout="true"
            :enable-download="true"
            :preview-modal="true"
            :paginate-elements-by-height="1400"
            filename="Depenses_annee"
            :pdf-quality="2"
            :manual-pagination="false"
            pdf-format="a4"
            :pdf-margin="10"
            pdf-orientation="portrait"
            pdf-content-width="800px"
            @progress="onProgress($event)"
            ref="html2Pdf"
          >
            <section slot="pdf-content">
              <PrintA :depenses="depenses" :somme="somme" :search="search" />
            </section>
          </vue-html2pdf>
        </div>

        <!-- Depenses du mois-->

        <div v-if="moisdep">
          <h5 v-if="moisdep" style="color: orange">
            Depenses du mois {{ selected }} de l'année {{ search }}
          </h5>
          <span style="color: orange">Total: {{ TotalMois }} €</span>
          <!-- Generate pdf-->
          <vue-html2pdf
            :show-layout="false"
            :float-layout="true"
            :enable-download="true"
            :preview-modal="true"
            :paginate-elements-by-height="1400"
            filename="Depenses_annee_mois"
            :pdf-quality="2"
            :manual-pagination="false"
            pdf-format="a4"
            :pdf-margin="10"
            pdf-orientation="portrait"
            pdf-content-width="800px"
            @progress="onProgress($event)"
            ref="html2Pdf"
          >
            <section slot="pdf-content">
              <PrintAM
                :depenses="depenses"
                :somme="somme"
                :search="search"
                :selected="selected"
              />
            </section>
          </vue-html2pdf>
        </div>
      </div>

      <!-- listing all depenses-->
      <div v-if="showdep">
        <div class="overflow-auto mt-4">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>

          <p class="mt-3">Current Page: {{ currentPage }}</p>
          <p class="mt-3 text-center" style="color: blue">
            {{ depenses.length }} enregistrement(s)
          </p>

          <b-table
            id="my-table"
            bordered
            :items="depenses"
            :fields="fields"
            :per-page="perPage"
            :current-page="currentPage"
            head-variant="dark"
            small
          >
            <template #cell(remarques)="row">
              <b-button size="sm" @click="row.toggleDetails" class="mr-2">
                {{ row.detailsShowing ? "Hide" : "Show" }} Details
              </b-button>
              <b-form-checkbox v-model="row.detailsShowing" @change="row.toggleDetails">
                Details via check
              </b-form-checkbox>
            </template>

            <template #row-details="row">
              <b-card>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>Remarques:</b></b-col>
                  <b-col>{{ row.item.remarques }}</b-col>

                  <button @click="downloadFile(row.item.justificatif)">
                    <b-col>{{ row.item.justificatif }}</b-col><i class="fas fa-image" style="font-size: 14px"></i>
                  </button>
                  <!--lien clicquable pour recup file-->
                </b-row>

                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>Is Active:</b></b-col>
                  <b-col>{{ row.item.isActive }}</b-col>
                </b-row>

                <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
              </b-card>
            </template>

            <!-- A virtual composite column -->

            <template v-if="admintresorier" #cell(actions)="row">
              <router-link :to="{ name: 'editdepense', params: { id: row.item.id } }"
                ><i class="fas fa-user-edit"></i
              ></router-link>

              |
              <button @click="suppression(row.item.id)">
                <i
                  class="fas fa-trash-alt"
                  style="font-size: 18px; color: red"
                  title="Suppression offrande-dîme"
                  data-toggle="modal"
                  data-target="#exampleModal"
                ></i>
              </button>
              <!--
              <router-link :to="{ name: 'supdepense', params: { id: row.item.id } }"
                ><i class="fas fa-trash-alt"></i
              ></router-link>-->
            </template>
          </b-table>
        </div>

        <vue-html2pdf
          :show-layout="false"
          :float-layout="true"
          :enable-download="true"
          :preview-modal="true"
          :paginate-elements-by-height="1400"
          filename="Total_Depenses"
          :pdf-quality="2"
          :manual-pagination="false"
          pdf-format="a4"
          :pdf-margin="10"
          pdf-orientation="portrait"
          pdf-content-width="800px"
          @progress="onProgress($event)"
          ref="html2Pdf"
        >
          <section slot="pdf-content">
            <Print :depenses="depenses" :somme="somme" />
          </section>
        </vue-html2pdf>
        <!-- Modal -->
        <div class="modalSupp">
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title alert-danger"
                    style="color: red"
                    id="exampleModalLabel"
                  >
                    Suppression Offrande-Dîme n° {{ rmDepense.id }}
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      Enregistré_le: {{ rmDepense.date_depenses }}
                    </li>
                    <li class="list-group-item">Montant: {{ rmDepense.montant }} €</li>
                    <li class="list-group-item">Remarques: {{ rmDepense.remarques }}</li>
                    <li class="list-group-item">Enregistré_par: {{ rmDepense.name }}</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button
                    v-on:click="supprimer(rmDepense.id)"
                    type="button"
                    data-dismiss="modal"
                    title="Supprimer Aide"
                    class="btn btn-primary"
                  >
                    Supprimez
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueHtml2pdf from "vue-html2pdf";
import Print from "./print.vue";
import PrintA from "./printA.vue";
import PrintAM from "./printAM.vue";

export default {
  name: "ListingDepenses",
  data() {
    return {
      depenses: [],
      notification: "Vous n'avez pas de depenses disponible",
      user: [],
      user_role: false,
      user_refused: false,
      showdep: false,
      perPage: 10,
      currentPage: 1,
      fields: [
        { key: "date_depenses", sortable: true },
        { key: "montant", sortable: true },
        "remarques",
        { key: "actions", label: "Actions" },
      ],
      search: "",
      searchresult: false,
      resultatSearch: [],
      Total: "",
      selected: "",
      mois: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
      depensesMois: [],
      moisdep: false,
      yeardep: false,
      TotalMois: "",
      somme: "",
      showalertyear: "",
      showalertmois: "",
      admintresorier: "",
      rolesAutho: [1, 3],
      rolesAccess: [1, 3, 5, 6],
      messageInfo: "",
      messageSucces: "",
      rmDepense: [],
      listYear: [],
    };
  },

  computed: {
    rows() {
      return this.depenses.length;
    },
  },
  mounted() {
    axios
      .get("/currentuser")
      .then((response) => {
        this.user = response["data"];
        let obj = this.user;
        if (Object.keys(obj).length > 0) {
          this.AccessDash(response.data.role_id);

          if (this.user_role == true) {
            this.listing();
            this.getYearDepense();
            this.ActionsAuthorized(response.data.role_id);
          } else {
            this.user_role = false;
            this.user_refused = true;
          }
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    onProgress(event) {
      console.log(`Processed: ${event} / 100`);
    },
    hasGenerated() {
      alert("PDF generated successfully!");
    },
    listing() {
      axios
        .get("listingdepenses")
        .then((response) => {
          this.depenses = response["data"].Data;
          this.somme = response["data"].Total;
          if (!this.depenses.length > 0) {
            //  console.log(this.depenses)
            this.infos();
          }

          this.searchresult = false;
          this.showdep = true;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    infos() {
      this.flashMessage.success({
        title: "Success",
        message: this.notification,
      });
    },
    downloadFile(image) {
      // this.filesrcs.imageName=image
      // console.log(this.filesrcs.imageName)
      axios({
        url: `/storage/uploads/${image}`,
        method: "get",
        responseType: "blob",
      })
        .then((response) => {
          //  console.log(response['data'])

          var imageUrl = window.URL.createObjectURL(new Blob([response.data]));
          //  console.log(imageUrl)
          var imageLink = document.createElement("a");
          imageLink.href = imageUrl;
          imageLink.setAttribute("download", image);
          //  console.log( imageLink)
          document.body.appendChild(imageLink);
          imageLink.click();
        })
        .catch((error) => {
          console.log("error occured");
        });
      // alert('DownloadFile')
    },
    SearchDepenses() {
      if (this.search.length == 4) {
        this.selected = "";
        axios.get(`searchDepByYear/${this.search}`).then((response) => {
          this.depenses = response["data"]["Data"];
          // this.resultatSearch=response['data']['Data']
          this.Total = response["data"]["Total"];

          if (this.depenses.length > 0) {
            this.showalertyear = false;
            this.somme = this.Total;
            this.showdep = true;
            //redirige vers page resultat
            // this.$router.push({name: 'dashboardSearch'})
            this.searchresult = true;
            this.yeardep = true;
            this.moisdep = false;
          } else {
            this.messageInfo = "Aucun résultats trouvés pour année :" + this.search;

            this.flashMessage.info({
              title: "Info",
              message: "Aucun résultats trouvés pour année :" + this.search,
            });

            setTimeout(() => (this.messageInfo = ""), 5000);

            setTimeout(() => this.listing(), 8000);
          }
        });
      } else {
        this.showalertyear =
          "Ce champ ne peut être vide , merci de selectionner  une année valide dans la liste.";
        setTimeout(() => (this.showalertyear = ""), 5000);
      }
    },
    SearchDepenseMois() {
      if (document.getElementById("selectmois").value == "") {
        this.showalertmois =
          " Ce champ ne peut être vide , merci de selectionné un mois.";
        setTimeout(() => (this.showalertmois = ""), 5000);
      } else {
        axios
          .get(`searchDepByYearMonth/${this.search}/${this.selected}`)
          .then((response) => {
            console.log(typeof response.data);
            this.depenses = response["data"].Data;
            this.TotalMois = response["data"].Total;

            if (this.depenses.length > 0) {
              this.showalertmois = false;
              //this.resultatSearch=response['data'].Data
              this.somme = this.TotalMois;
              //this.resultatSearch=response['data']['Data']
              // this.Total=response['data']['Total']
              this.moisdep = true;
              this.searchresult = true;
              this.yeardep = false;
              this.showdep = true;
            } else {
              this.showdep = false;
              this.messageInfo =
                "Aucune dépenses trouvées pour le mois :" +
                this.selected +
                " de l'année " +
                this.search;

              this.infos();

              setTimeout(() => ((this.messageInfo = ""), (this.selected = "")), 5000);
              setTimeout(() => this.listing(), 8000);
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    download() {
      axios({
        url: "/storage/depenses.txt",
        method: "GET",
        responseType: "blob", // important
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", "file.pdf");
        document.body.appendChild(link);
        link.click();
      });
    },
    downoadpdf() {
      console.log("PDF: " + this.depenses);

      axios({
        method: "post",
        url: "/downloadfile",
      }).then((response) => {
        this.download(response);
      });
    },
    generatePDF(depenses, somme) {
      this.$refs.html2Pdf.generatePdf(depenses, somme);
    },

    ActionsAuthorized(myrole) {
      this.rolesAutho.forEach((element) => {
        if (element == myrole) {
          this.admintresorier = "Authorized";
        }
      });
      /*for (myrole in this.rolesAutho) {
        if (myrole == 1) {
          this.admintresorier = "Authorize";
        }
      }*/
    },
    AccessDash(myrole) {
      this.rolesAccess.forEach((element) => {
        if (element == myrole) {
          this.user_role = true;
          //return true;
        }
      });
      /*for (myrole in this.rolesAccess) {
        if (myrole == 1) {
          this.user_role = true;
          return this.user_role;
        }
      }*/
    },
    suppression(id) {
      axios.get(`/depense/${id}`).then((response) => {
        if (typeof response.data == "object") {
          this.rmDepense = response.data;
        } else {
          this.messageInfo = "Impossible de supprimer Dépense n°:" + id;
          this.flashMessage.info({
            title: "Info",
            message: "Suppression Impossiblen, dépense introuvable",
          });
          setTimeout(() => (this.messageInfo = ""), 5000);
        }
      });
    },
    supprimer(id) {
      axios
        .delete(`/removedepense/${id}/${this.user.id_user}`)
        .then((response) => {
          if (response["data"] == "Depense supprimée avec succès") {
            this.messageSucces = "Suppression réussie, merci";
            setTimeout(() => (this.messageSucces = ""), 5000);
            this.flashMessage.success({
              title: "Success",
              message: "Dépense supprimée avec succès",
            });
            this.listing();
          } else {
            this.messageInfo = "Echec Suppression Dépense";
            this.flashMessage.error({
              title: "Echec suppression Dépense",
              message: "Echec suppression dépense",
            });

            setTimeout(() => (this.messageInfo = ""), 5000);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getYearDepense() {
      axios
        .get("/listing-year-depense")
        .then((res) => {
          this.listYear = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  components: {
    VueHtml2pdf,
    Print,
    PrintA,
    PrintAM,
  },
};
</script>

<style scoped>
.alert_title {
  text-align: center;
}
</style>
