<template>
    <div class="container">
        <FlashMessage></FlashMessage>

        <div v-if="role_meistad">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        |
        <router-link to="/listingdepenses" class="btn btn-primary">Listing</router-link>

           {{ resultatSearch }}
        </div>

        <div v-if="user_refused">

              <div class="alert alert-danger text-center" role="alert">
                  <router-link to="/" class="btn btn-primary">Accueil</router-link>
                   |
                  Accès interdit, merci !

                </div>
          </div>

    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'SearchDepenses',
    data(){
        return {
            resultatSearch: [],
            moisdep: false,
            yeardep:false,
            role_meistad: false,
            user_refused: false,
            notification: "Vous n'avez pas de depenses disponible",
            perPage: 3,
            currentPage: 1,
            fields: ['date_depenses', 'montant', 'remarques', { key: 'actions', label: 'Actions' }],
            mois: ['01','02','03','04','05','06','07','08','09','10','11','12'],
            user: [],
        }

    },
    props: ['resultatSearch'],
    computed: {

    },
    mounted() {
        axios
        .get('/currentuser')
        .then(response=>{
            this.user=response['data']
            let obj= this.user
            if(Object.keys(obj).length > 0) {

                if (this.user.role_id==3) {
                  this.role_meistad=true
                   this.listing()

               }else{
                   this.user_refused=true
               }

            }

        })
        .catch(error=>{
            console.log(error)
        })

    },
    methods: {

    }
}
</script>
