<template>
  <div class="container">
    <FlashMessage></FlashMessage>
    <div v-if="role_user">
      <router-link to="/listingdepenses" class="btn btn-primary">Listing</router-link>
      <div v-if="alertshow" class="alert alert-success mt-2" role="alert">
        <p class="text-center">Suppression depense reussie avec success</p>
      </div>

      <div v-if="showcard">
        <h4 class="text-center" style="color: red">
          Suppression Dépense n° {{ this.$route.params.id }}
        </h4>
        <span
          >Vous êtes sur le point de supprimer cette dépense n°
          {{ this.$route.params.id }}</span
        >
        <div class="text-center">
          <b-card
            title="Suppression"
            tag="article"
            style="max-width: 40rem"
            text-variant="center"
            class="mb-2"
          >
            <b-card-text>
              <div v-for="(of, index) in depense" v-bind:key="index">N°: {{ of.id }}</div>
            </b-card-text>
            <b-card-text>
              <div v-for="(of, index) in depense" v-bind:key="index">
                Date: {{ of.date_depenses }}
              </div>
            </b-card-text>

            <b-card-text>
              <div v-for="(of, index) in depense" v-bind:key="index">
                Montant: {{ of.montant }} €
              </div>
            </b-card-text>

            <b-card-text>
              <div v-for="(of, index) in depense" v-bind:key="index">
                Observations: {{ of.remarques }}
              </div>
            </b-card-text>

            <b-button v-on:click="removedepense()" variant="danger">Supprimer </b-button>
          </b-card>
        </div>
      </div>
    </div>

    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "SupDepense",
  data() {
    return {
      user: [],
      role_user: false,
      user_refused: false,
      depense: [],
      messageremove: "Suppression impossible ,depense introuvable",
      showcard: false,
      alertshow: false,
    };
  },
  mounted() {
    this.currentuser();
    axios.get(`/depense/${this.$route.params.id}`).then((response) => {
      this.depense = response["data"];
      if (this.depense.length > 0) {
        this.showcard = true;
      } else {
        this.notification();
      }
    });
  },
  methods: {
    currentuser() {
      axios
        .get("/currentuser")
        .then((response) => {
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            if (this.user.role_id == 3 || this.user.role_id == 1) {
              this.role_user = true;
            } else {
              this.role_user = false;
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    removedepense() {
      axios
        .delete(`/removedepense/${this.$route.params.id}`)
        .then((response) => {
          this.messageremove = response["data"];
          this.alertshow = true;
          this.showcard = false;
          this.notification();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    notification() {
      this.flashMessage.success({
        title: "Success",
        message: this.messageremove,
      });
    },
  },
};
</script>

<style scoped></style>
