<template>
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-center">Dashboard-Meistad</div>
            <router-link to="/" class="text-center">HOME</router-link>
            <div v-if="user_role">
              <div class="row">
                <div class="col-sm-5 ml-2 my-2">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Infos Personnelle</h5>
                      <p class="card-text">Gestion de mon compte</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">ajouter</li>
                        <li class="list-group-item">Editer</li>
                        <li class="list-group-item">Supprimer</li>
                      </ul>
                      <router-link to="/moncompte" class="btn btn-primary mt-2"
                        >Mon Profil</router-link
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 ml-2 my-2">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Informations Meistad</h5>
                      <p class="card-text">Envoi de messages.</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">EMAIL</li>
                        <li class="list-group-item">SMS</li>
                        <li class="list-group-item">Calendar</li>
                      </ul>
                      <br />
                      <router-link to="/form" class="btn btn-primary"
                        >Go EMAIL</router-link
                      >
                      <router-link to="/sendSms" class="btn btn-primary"
                        >Go SMS</router-link
                      >
                      <a href="/calendar/secretariat" class="btn btn-primary">Go Calendar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="user_refused">
          <div class="alert alert-danger text-center" role="alert">
            <router-link to="/" class="btn btn-primary">Accueil</router-link>
            | Accès interdit, merci !
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "AccueilSecret",
  data() {
    return {
      user_role: false,
      user_refused: false,
    };
  },
  mounted() {
    if (this.user.role_id == 4) {
      this.user_role = true;
    } else {
      this.user_refused = true;
    }
  },
  props: ["user"],
};
</script>

<style scoped></style>
