<template>
  <div class="container">
    <FlashMessage></FlashMessage>
    <div class="alert alert-primary alert_title" role="alert">
      {{ messagechurch.length > 0 ? messagechurch : "Envoi SMS" }}
    </div>
    <div v-if="messageSucces" class="alert alert-success alert_title" role="alert">
      {{ messageSucces }}
    </div>

    <router-link to="/" class="text-center">HOME</router-link>
    <div v-if="user_role">
         <form @submit.prevent="checkform" method="POST">
                <p v-if="errors.length" class="text-danger text-center">
                    <b>svp corriger la (les) erreure(s) suivante(s):</b>
                    <ul>
                        <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
                    </ul>
              </p>
              <div class="form-group">
                <label for="subject">Objet</label>
                <select id="selectsubject" v-model="formSms.subject">
                      <option disabled value="">Objet</option>

                       <option v-for="(m, index) in objetMessage" v-bind:key="index">{{ m }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="desti">Destinataires:</label>
                <select v-model="destinataire" name="desti" id="desti" multiple>
                    <option v-for="(mail, index) in userSms" v-bind:key="index" onchange='clear()'>Nom&Phone {{mail.name}}:{{mail.phone}}</option>
                </select>

                <p  @click='reset()'> <i class="fa fa-eraser" style="font-size:20px;color:red" title="EFFACER" ></i></p>

            </div>

            <div class="form-group">
               <label for="obs">Message</label>
               <textarea v-model="formSms.content" class="form-control" name="obs" id="obs" rows="5"></textarea>
           </div>

              <button type="submit" class="btn btn-block btn-primary">Envoyez</button>
           </form>
    </div>

    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "FormSms",
  data() {
    return {
      formSms: {
        subject: "",
        content: "",
        expeditRole: "",
        expeditName: "",
        desti: "",
        type: "SMS"
      },
      destinataire: [],
      errors: [],
      user: [],
      user_role: false,
      user_refused: false,
      messagechurch: "",
      roles: [4, 5, 7],
      AccessForm: "",
      messageSucces: "",
      userSms: [],
      objetMessage:['MEISTAD-LYON']
    };
  },
  mounted() {
    this.currentuser();
  },
  methods: {
    currentuser() {
      axios
        .get("/currentuser")
        .then((response) => {
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            this.UserAuthorize(this.user.role_id);
            if (this.AccessForm == "Authorized") {
              this.user_role = true;
              this.formSms.expeditName = this.user.name;
              this.formSms.type='SMS';
              setTimeout(() => this.Usersemails(), 100);
            } else {
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    UserAuthorize(myRole) {
      this.roles.forEach((element) => {
        if (element == myRole) {
          this.AccessForm = "Authorized";
          this.formSms.expeditRole = myRole;
        }
      });
    },
    Usersemails() {
      axios
        .get("/usersmails")
        .then((response) => {
          console.log({ User: response.data });
          if (typeof response.data == "object") {
            this.userSms = response.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    clear() {
      console.log({ Choix: this.destinataire });
    },
    reset() {
      console.log({ Desti: this.destinataire });
      this.destinataire = [];
    },
    checkform(){
        this.errors = [];
        this.submitted = true;

        if (!this.formSms.subject) {
            this.errors.push('Sujet  manquant.');
        }

        if (!this.formSms.content) {
            this.errors.push('Contenu  manquant.');
        }

        if (this.errors.length >0) {
            this.flashMessage.error({
            title: 'Ooooops',
            message: 'Formulaire invalide verifié les champs, merci'
            })
            setTimeout(() => (this.errors=[] ), 10000);

        }else {
            this.formSms.desti=this.destinataire;
            console.log(this.formSms);
            axios
            .post('/sendinfos',{
                content: this.formSms
                })
            .then(response=>{
                if(response['data']=='Information envoyée avec succès') {
                        this.messageSucces=response['data'];
                        this.submitted = false;

                         setTimeout(() => (this.messageSucces='' ), 5000);
                         this.formSms={};
                         this.flashMessage.success({
                           title: 'Success',
                           message: 'Information envoyée avec succès'
                        });
                        this.reset();
                        this.currentuser();

                }



                })
            .catch(error=>{
                    console.log(error)
                })


        }


    }
  },
};
</script>
<style scoped>
.alert_title {
  text-align: center;
}
</style>
