<template>
    <div class="container">
         <FlashMessage></FlashMessage>
         <div class="alert alert-primary alert_title" role="alert">
              {{ messagechurch.length > 0? messagechurch: 'Envoi Email' }}
        </div>

         <div v-if="messageSucces" class="alert alert-success alert_title" role="alert">
            {{ messageSucces }}

        </div>

         <router-link to="/" class="text-center">HOME</router-link>

         <div v-if="user_role">

           <form @submit.prevent="checkform" method="POST">
                <p v-if="errors.length" class="text-danger text-center">
                    <b>svp corriger la (les) erreure(s) suivante(s):</b>
                    <ul>
                        <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
                    </ul>
              </p>
              <div class="form-group">
                <label for="subject">Subject</label>
                <input v-model="formSecre.subject" type="text" step="any"  class="form-control" name="subject" id="subject"/>
            </div>

            <div class="form-group">
                <label for="desti">Destinataires:</label>
                <select v-model="destinataire" name="desti" id="desti" multiple>
                    <option v-for="(mail, index) in usersemails" v-bind:key="index" onchange='clear()'>Nom&Email {{mail.name}}:{{mail.email}}</option>
                </select>

                <p  @click='reset()'> <i class="fa fa-eraser" style="font-size:20px;color:red" title="EFFACER" ></i></p>

            </div>

            <div class="form-group">
               <label for="obs">Message</label>
               <textarea v-model="formSecre.content" class="form-control" name="obs" id="obs" rows="5"></textarea>
           </div>

              <button type="submit" class="btn btn-block btn-primary">Envoyez</button>
           </form>

         </div>

         <div v-if="user_refused">
             <div class="alert alert-danger text-center" role="alert">
                  <router-link to="/" class="btn btn-primary">Accueil</router-link>
                   |
                  Accès interdit, merci !
                </div>

         </div>




    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'SecretaireForm',
    data(){
        return {
            formSecre: {
                subject: '',
                content: '',
                expeditRole: '',
                expeditName:'',
                desti: '',
                type: "EMAIL"

            },
            destinataire: [],
            errors: [],
            user: [],
            user_role: false,
            user_refused: false,
            messagechurch: '',
            roles: [4,5,7],
            AccessForm: '',
            messageSucces: '',
            usersemails: [],
        }
    },
    mounted(){
      this.currentuser();
       setTimeout(() => this.Usersemails(), 100);
    },
    methods: {
        currentuser(){
            axios
            .get('/currentuser')
            .then(response=>{
                 this.user=response['data']
             let obj= this.user
             if (Object.keys(obj).length > 0)
                {
                    this.UserAuthorize(this.user.role_id);
                    if (this.AccessForm=='Authorized') {
                        this.user_role=true;
                        this.formSecre.expeditName=this.user.name;

                    }else {
                        this.user_refused=true;
                    }
                }

            })
            .catch(error=>{
                console.log(error);
            })
        },
        checkform(){
             this.errors = [];
            this.submitted = true;

             if (!this.formSecre.subject) {
             this.errors.push('Sujet  manquant.');
            }

            if (!this.formSecre.content) {
             this.errors.push('Contenu  manquant.');
            }

            if (this.errors.length >0) {
             this.flashMessage.error({
            title: 'Ooooops',
            message: 'Formulaire invalide verifié les champs, merci'
            })
            setTimeout(() => (this.errors=[] ), 10000);

            }else {
                 this.formSecre.desti=this.destinataire;
                console.log(this.formSecre);
                axios
                .post('/sendinfos',{
                    content: this.formSecre
                })
                .then(response=>{
                    if(response['data']=='Information envoyée avec succès') {
                        this.messageSucces=response['data'];
                        this.submitted = false;
                        this.notification();
                         setTimeout(() => (this.messageSucces='' ), 5000);
                         this.formSecre={};
                         this.flashMessage.success({
                           title: 'Success',
                           message: 'Information envoyée avec succès'
                        });
                        this.reset();
                        this.currentuser();

                    }



                })
                .catch(error=>{
                    console.log(error)
                })


            }


        },
        notification(){
           this.flashMessage.success({
               title: 'Success',
               message: this.messagechurch
           })
        },
        UserAuthorize(myRole){
            this.roles.forEach((element) => {
                if (element == myRole) {
                this.AccessForm='Authorized';
                this.formSecre.expeditRole=myRole;
                }
            });

        },
        Usersemails(){
            axios
            .get('/usersmails')
            .then(response=>{
                console.log({User: response.data});
                if(typeof response.data =='object'){
                   this.usersemails=response.data;
                }
            })
            .catch(error=>{
                console.log(error);
            })

        },
        clear() {
            console.log({Choix: this.destinataire});

        },
        reset(){
          console.log({Desti: this.destinataire});
          this.destinataire=[];
        }

    }
}
</script>
<style scoped>
.alert_title{
    text-align: center;
}
</style>
