<template>
    <div class="container">
         <FlashMessage></FlashMessage>
         <router-link to="/" class="text-center">HOME</router-link>
          <div v-if="user_role">

                <h4 class="text-center">Envoyez un message personnalisé  </h4>
                  <form @submit.prevent="checkform" method="POST">

                       <p v-if="errors.length" class="text-danger text-center">
                         <b>svp corriger la (les) erreure(s) suivante(s):</b>
                         <ul>
                            <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
                         </ul>
                       </p>

                       <div class="form-group">
                              <label for="subject">Subject</label>
                            <input v-model="formPersonMessage.subject" type="text" step="any"  class="form-control" name="subject" id="subject"/>
                      </div>

                      <div class="form-group">
                              <label for="mail">Destinataire</label>
                              <br>

                            <select v-model="formPersonMessage.mail" name="mail" id="mail">
                                    <option v-for="(email, index) in usersemails" v-bind:key="index" >{{email['email']}}</option>
                            </select>
                      </div>

                       <div class="form-group">
                         <label for="contenu">Remarques</label>
                          <textarea v-model="formPersonMessage.content" class="form-control" name="contenu" id="contenu" rows="5"></textarea>
                      </div>

                      <button type="submit" class="btn btn-block btn-primary">Envoyez</button>

                  </form>

          </div>


        <div v-if="user_refused">
             <div class="alert alert-danger text-center" role="alert">
                  <router-link to="/" class="btn btn-primary">Accueil</router-link>
                   |
                  Accès interdit, merci !
                </div>

         </div>


    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'PersonMessage',
    data (){
        return {
            formPersonMessage: {
                subject: '',
                mail: '',
                content: ''
            },
            errors: [],
            user: [],
            user_role: false,
            user_refused: false,
            messagechurch: '',
            usersemails: []
        }
    },
     mounted(){
      this.currentuser()
      this.Usersemails()
    },
    methods: {
        currentuser(){
             axios
            .get('/currentuser')
            .then(response=>{
                 this.user=response['data']
             let obj= this.user
             if (Object.keys(obj).length > 0)
                {
                        if (this.user.role_id==4) {
                        this.user_role=true

                     }else{
                        this.user_role=false
                        this.user_refused=true
                     }
                }

            })
            .catch(error=>{
                console.log(error)
            })
        },
        checkform(){

             this.errors = [];
            this.submitted = true;

             if (!this.formPersonMessage.subject) {
             this.errors.push('Sujet  manquant.');
            }

             if (!this.formPersonMessage.mail) {
             this.errors.push('User Mail manquant.');
            }

            if (!this.formPersonMessage.content ){
             this.errors.push('Contenu  manquant.');
            }


            if (this.errors.length >0) {
             this.flashMessage.error({
            title: 'Ooooops',
            message: 'Formulaire invalide verifié les champs, merci'
            })

            }else {
               // console.log(this.formSecre)
                axios
                .post('/sendpersomessage',{
                    content: this.formPersonMessage
                })
                .then(response=>{
                  this. messagechurch=response['data']
                  this.submitted = false;
                    this.formPersonMessage={};
                  this.notification()

                })
                .catch(error=>{
                    console.log(error)
                })


            }



        },
        Usersemails(){
            axios
            .get('/usersmails')
            .then(response=>{
                this.usersemails = response['data']
            })
            .catch(error=>{
                console.log(error)
            })
        },
        notification(){
            this.flashMessage.success({
               title: 'Success',
               message: this.messagechurch
           })
        }
    }
}
</script>

<style scoped>

</style>
