<template>
    <div class="container">
         <div class="alert alert-success" role="alert">
               Bientôt disponible !!!
       </div>
    </div>
</template>
<script>
export default {
    name: 'SmsMeistad',
    data(){
        return {

        }
    }
}
</script>

<style scoped>

</style>
