<template>

    <div class="container">

         <FlashMessage></FlashMessage>
         <div class="alert alert-primary alert_title" role="alert">
             {{ messageInfo.length > 0? messageInfo: 'Enrgistrement Dîme/Offrande' }}
         </div>


         <div v-if="messageSucces" class="alert alert-success alert_title" role="alert">
            {{ messageSucces }}

        </div>

          <div v-if="justificatif" class="alert alert-danger text-center" role="alert">
                {{ justificatif }}
         </div>

        <div v-if="user_role">
           <router-link
                    :to="{ name: 'dash_tresorerie', params: { role: user.role_id } }"
                    class="btn btn-primary">Dashboard</router-link>
             |
             <router-link to="/listingoffrandes" class="btn btn-primary">Listing</router-link>

         <form class="meistad-form" @submit.prevent="checkform" method="POST">
              <p v-if="errors.length" class="text-danger text-center">
              <b>svp corriger la (les) erreure(s) suivante(s):</b>
              <ul>
                <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
             </ul>
           </p>

           <div class="form-group">

                <input  v-model="formOD.user" type="text"  class="form-control" name="current_user" id="user_current" hidden >
            </div>

            <div class="form-group">
                <label for="datecreate">Date</label>
                <input  v-model="formOD.date" type="date"  class="form-control" name="datecreate" id="datecreate"/>
            </div>

             <div class="form-group">
                <label for="offrandes">Montant</label>
                <input v-model="formOD.montant" type="nummber" step="any"  class="form-control" name="offrandes" id="offrandes"/>
            </div>

            <div class="form-group">
                  <label for="justif">Justificatif:</label>
             <input type="file" name="justif" id="justif" class="form-control" v-on:change="onImageChange">
             </div>

            <div class="form-group">
               <label for="obs">Remarques</label>
               <textarea v-model="formOD.obs" class="form-control" name="obsmesure" id="obsmesure" rows="5"></textarea>
           </div>

            <button type="submit" class="btn btn-block btn-primary">Validez</button>

         </form>


        </div>
        <div v-if="user_refused">
              <div class="alert alert-danger text-center" role="alert">
                  <router-link to="/" class="btn btn-primary">Accueil</router-link>
                   |
                  Accès interdit, merci !
                </div>
          </div>

    </div>

</template>

<script>
import axios from 'axios';

export default {
    name: 'AjouterOD',
    data(){
        return {
            formOD: {
               date: '',
               montant: '',
               obs: "",
               user: this.current_user
            },
            errors: [],
            messagecreate: '',
            user: [],
            user_role: false,
            user_refused: false,
            current_user: undefined,
            model: 'meistad',
            action: 'ajouterOD',
            justificatif: '',
            messageSucces: '',
            messageInfo: '',
            rolesAutho: [1,3],


        }
    },
    async mounted(){
        axios
        .get('/currentuser')
        .then(response=>{


           this.user= response['data'];
            let obj= this.user;
             if (Object.keys(obj).length > 0){
                        if (this.ActionsAuthorized(response.data.role_id)==true) {
                        this.user_role=true;
                        this.current_user=response['data'].id_user;

                     }else{
                        this.user_role=false;
                        this.user_refused=true;
                        this.flashMessage.info({
                            title: 'Info',
                            message: 'Unauthenticated'
                        });
                     }
            }
        })
        .catch(error=>{
            console.log(error)
        })
    },
    methods: {
        onImageChange(e){
            this.file = e.target.files[0];
           // console.log(this.file)
        },
        notification(){
           this.flashMessage.success({
               title: 'Success',
               message: this.messagecreate
           })

        },
        checkform(e){
            e.preventDefault();
            let existingObj = this;

            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            this.errors = [];
            this.submitted = true;

            if (!this. formOD.date) {
             this.errors.push('Date création manquante.');
            }

            if (!this. formOD.montant) {
             this.errors.push('Montant  manquant.');
            }


            if (this.errors.length >0) {
             this.flashMessage.error({
                title: 'Ooooops',
                message: 'Formulaire invalide verifié les champs, merci'
                });
                setTimeout(() => (this.errors=[] ), 10000);
            } else {

                let myfile=document.getElementById("justif").value;
                let data = new FormData();
                 data.append('date', this.formOD.date);
                 data.append('montant', this.formOD.montant);
                 data.append('obs', this.formOD.obs);
                 data.append('file', this.file);
                 data.append('model', this.model);
                 data.append('action', this.action);
                 data.append('user', this.current_user)

                if (myfile.length=='') {

                    this.justificatif='Champ justificatif ne peut être vide merci !';
                    setTimeout(() => this.justificatif = '', 5000);

                    //alert('Champ justificatif ne peut être vide merci de saisir le justificatif : '+justifiactif);
                } else {

                     axios.post('/offrande_store',data, config)
                     .then(response=>{
                        if(response.data=='Enregistrement offrande_dîme reussie avec succès') {
                            this.messagecreate=response['data'];
                            this.messageSucces='Offrande-Dîme enregistrée avec succès';
                            setTimeout(() => this.messageSucces = '', 5000);
                            this.notification();
                            this.formOD={};
                            this.file='';

                        }else {
                            this.messageInfo='Enregistrement impossible';
                            setTimeout(() => this.messageInfo = '', 5000);
                            this.flashMessage.info({
                            title: 'Info enregistrement OD',
                            message: 'Echec enregistrement impossible offrande/dîme'
                           })
                        }

                     })
                     .catch(error=>{
                         console.log(error);
                     })
                     //this.$router.go()

                }

            }

        },
        ActionsAuthorized(myrole) {
            for (myrole in this.rolesAutho) {
                if (myrole==1) {
                    return true;
                }


            }
        }
    }
}
</script>

<style scoped>
.meistad-form{
    text-align: center;
}
.alert_title{
    text-align: center;
}

</style>
