<template>
      <div class="container">
        <FlashMessage></FlashMessage>
        <div class="alert alert-primary alert_title" role="alert">
             {{ messageInfo.length > 0? messageInfo: 'Modification Dîme/Offrande n° '+(this.$route.params.id) }}
         </div>

         <div v-if="messageSucces" class="alert alert-success alert_title" role="alert">
            {{ messageSucces }}

        </div>
        <div v-if="justificatif" class="alert alert-danger text-center" role="alert">
            {{ justificatif }}
        </div>

        <div v-if="user_role">
             <router-link to="/listingoffrandes" class="btn btn-primary">Listing</router-link>

          <form v-if="showForm" class="meistad-form" @submit.prevent="checkform" method="PUT">
              <p v-if="errors.length" class="text-danger text-center">
                 <b>svp corriger la (les) erreure(s) suivante(s):</b>
                <ul>
                  <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
               </ul>
              </p>


           <div class="form-group">

                <input  v-model="formEditOd.usermodify" type="text"  class="form-control" name="current_user" id="current_user" hidden>
            </div>

           <div class="form-group">
                <label for="datecreate">Date</label>

                <div> <p>Ancienne date: {{offrande.date_offrandes}}</p> </div>

                <input  v-model="formEditOd.date" type="date"  class="form-control" name="datecreate" id="datecreate"/>
            </div>

            <div class="form-group">
                <label for="offrandes">Montant</label>
                <div > <p> Ancien montant: {{offrande.montant}}</p> </div>
                <input v-model="formEditOd.montant" type="nummber" step="any"  class="form-control" name="offrandes" id="offrandes"/>
            </div>
            <div class="form-group">

                 <div > <p> Justificatif: {{offrande.justificatif}}</p> </div>
             <input type="file" name="justif" id="justif" class="form-control" v-on:change="onImageChange">
             </div>
            <div class="form-group">
               <label for="obs">Remarques</label>
                <div > <p>Ancienne remarques: {{offrande.remarques}}</p> </div>
               <textarea v-model="formEditOd.obs" class="form-control" name="obsmesure" id="obsmesure" rows="5"></textarea>
           </div>

          <button type="submit" class="btn btn-block btn-primary">Modifiez</button>

         </form>

        </div>
        <div v-if="user_refused">
              <div class="alert alert-danger text-center" role="alert">
                   <router-link to="/" class="btn btn-primary">Accueil</router-link>
                   |
                  Accès interdit, merci !
                </div>
        </div>



      </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'EditOD',
    data(){
        return {
            formEditOd: {

               date: undefined,
               montant: undefined,
               obs: "",
               id: undefined,
               usermodify: this.modifyByuser

            },
            errors: [],
            notifedit: "",
            offrande: [],
            user: [],
            user_role: false,
            user_refused: false,
            modifyByuser: undefined,
            model: 'meistad',
            action: 'modifierOD',
            messageInfo: '',
            messageSucces: '',
            justificatif: '',
            showForm: false,
            rolesAutho: [1, 3],
        }
    },
    async mounted(){
      this.currentuser();
      axios
      .get(`/offrande/${this.$route.params.id}`)
      .then(response=>{
        if(typeof response.data == 'object') {
            this.offrande=response['data'];
            this.showForm=true;
        } else {
            this.messageInfo="Offrande_Dîme introuvable";
            setTimeout(() => this.messageInfo = '', 5000);
            this.flashMessage.error({
                title: 'Info',
                message: 'Modification impossible'
            })

        }


      })
      .catch(error=>{
          console.log(error);
      })
    },
    methods: {
      notification(){
           this.flashMessage.success({
               title: 'Success',
               message: this.notifedit
           })
        },
        onImageChange(e){
            this.file = e.target.files[0];
           // console.log(this.file)
        },
        checkform(){
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            this.errors = [];
            this.submitted = true;

            if (!this.formEditOd.date) {
             this.errors.push('Date création manquante.');
            }

            if (!this.formEditOd.montant) {
             this.errors.push('Montant  manquant.');
            }

             if (!this.formEditOd.obs) {
             this.errors.push('Observation  manquante.');
            }

            if (this.errors.length >0) {
                this.flashMessage.error({
                    title: 'Ooooops',
                    message: 'Formulaire invalide verifié les champs, merci'
               });

               setTimeout(() => (this.errors=[] ), 10000);
            } else {

                let justif=document.getElementById("justif").value;

                let data = new FormData();
                 data.append('date', this.formEditOd.date);
                 data.append('montant', this.formEditOd.montant);
                 data.append('obs', this.formEditOd.obs);
                 data.append('file', this.file);
                 data.append('model', this.model);
                 data.append('action', this.action);
                 data.append('id', this.$route.params.id);
                 data.append('user', this.modifyByuser)

                 if(justif.length == ''){
                    //alert('Champ Justificatif ne peut être vide merci : '+justifiactif);
                    this.justificatif='Champ justificatif ne peut être vide merci !';
                    setTimeout(() => this.justificatif = '', 5000);
                 } else {
                    axios.post('/offrande_update',data, config)
                    .then(response=> {
                         if(response.data=='Offrande_Dîme modifiée avec succès') {
                            this.messageSucces="Modifaction sucess Dîme_Offrande";
                            setTimeout(() => this.messageSucces = '', 5000);

                            this.notifedit=response['data'];
                            this.submitted = false;
                            this. notification();

                             this.formEditOd={};
                             this.file='';
                             this.showForm=false;

                        } else {
                            this.messageInfo='Echec modification';
                            this.flashMessage.info({
                                title: 'Info',
                                message: 'Echec modification Dîme_Offrande'
                            })
                        }



                    })
                    .catch(error=> {
                        console.log(error);
                    });

                 }

            }
        },
        currentuser(){
        axios
        .get('/currentuser')
        .then(response=>{
           this.user=response['data']
           let obj= this.user
            if (Object.keys(obj).length > 0){
                    if (this.ActionsAuthorized(response.data.role_id)==true) {
                        this.user_role=true;
                        this.modifyByuser=response['data'].id_user;
                    }else{
                        this.user_role=false;
                        this.user_refused=true;
                         this.flashMessage.info({
                            title: 'Info',
                            message: 'Unauthenticated'
                        });
                    }
            }
        })
        .catch(error=>{
            console.log(error);
        })
        },
        ActionsAuthorized(myrole) {
            for (myrole in this.rolesAutho) {
                if(myrole==1) {
                    return true;
                }

            }
        }

    }
}
</script>
<style scoped>
.meistad-form{
    text-align: center;
}
.alert_title{
    text-align: center;
}

</style>
