<template>
  <div class="container">
    <FlashMessage></FlashMessage>

    <div class="alert alert-primary alert_title" role="alert">
      {{ messageInfo.length > 0 ? messageInfo : "Listing Dîme/Offrande" }}
    </div>

    <div v-if="messageSucces" class="alert alert-success alert_title mt-2" role="alert">
      {{ messageSucces }}
    </div>

    <div v-if="user_role">
      <router-link
        :to="{ name: 'dash_tresorerie', params: { role: user.role_id } }"
        class="btn btn-primary"
        >Dashboard</router-link
      >
      |
      <router-link v-if="admintresorier" to="/offrandes" class="btn btn-primary"
        >Ajouter</router-link
      >

      <div v-if="showalertyear" class="alert alert-warning mt-2 text-center" role="alert">
        {{ showalertyear }}
      </div>
      <div v-if="showalertmois" class="alert alert-warning mt-2 text-center" role="alert">
        {{ showalertmois }}
      </div>

      <!-- search offrandes -->
      <div class="text-right">
        <label for="pnom">Selectioner une année</label>
        <div class="input-group">
          <select v-model="search" class="custom-select" id="inputProjet">
            <option v-for="(year, index) in listYear" v-bind:key="index">
              {{ year.year }}
            </option>
          </select>
          <div class="input-group-append">
            <button
              class="btn btn-primary"
              type="button"
              title="Search bilan "
              v-on:click="SearchOffrandes()"
            >
              Go search
            </button>
          </div>
        </div>
      </div>

      <!-- Download PDF -->

      <div v-if="searchresult">
        <div @click="generatePDF(offrandes, somme)" class="np-btn">
          <button>Generate PDF</button>
        </div>

        <h6 class="text-center" style="color: green">Résultats de votre recherche :</h6>

        <div class="text-center">
          <label for="pnom">Selectioner un mois</label>
          <div class="input-group">
            <select v-model="selected" class="custom-select" id="selectmois">
              <option v-for="(month, index) in mois" v-bind:key="index">
                {{ month }}
              </option>
            </select>
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                title="Search bilan "
                v-on:click="SearchOffrandesMois()"
              >
                Go search
              </button>
            </div>
          </div>
        </div>

        <!-- end search offrandes by year -->

        <div v-if="yearOD">
          <h5 style="color: orangered">Offrandes année : {{ search }}</h5>
          <span style="color: orangered">Total: {{ Total }} €</span>

          <!-- Generate pdf-->
          <vue-html2pdf
            :show-layout="false"
            :float-layout="true"
            :enable-download="true"
            :preview-modal="true"
            :paginate-elements-by-height="1400"
            filename="Ofrandes-Dîmes"
            :pdf-quality="2"
            :manual-pagination="false"
            pdf-format="a4"
            :pdf-margin="10"
            pdf-orientation="portrait"
            pdf-content-width="800px"
            @progress="onProgress($event)"
            ref="html2Pdf"
          >
            <section slot="pdf-content">
              <PrintA :offrandes="offrandes" :somme="somme" :search="search" />
            </section>
          </vue-html2pdf>
        </div>
        <!-- end search offrandes by year -->

        <!-- search offrandes by year and month-->
        <div v-if="moisoffrandes">
          <h5 v-if="moisoffrandes" style="color: orange">
            Offrandes du {{ selected }} ième mois de l'année {{ search }}
          </h5>
          <span style="color: orange">Total: {{ TotalMois }} €</span>

          <div v-if="showODMonth">
            <!-- Generate pdf-->
            <vue-html2pdf
              :show-layout="false"
              :float-layout="true"
              :enable-download="true"
              :preview-modal="true"
              :paginate-elements-by-height="1400"
              filename="Dîme_Offrande_année_mois"
              :pdf-quality="2"
              :manual-pagination="false"
              pdf-format="a4"
              :pdf-margin="10"
              pdf-orientation="portrait"
              pdf-content-width="800px"
              @progress="onProgress($event)"
              ref="html2Pdf"
            >
              <section slot="pdf-content">
                <PrintAM
                  :offrandes="offrandes"
                  :somme="somme"
                  :search="search"
                  :selected="selected"
                />
              </section>
            </vue-html2pdf>
          </div>
        </div>
        <!-- End search offrandes by year and month-->
      </div>
      <!-- end search offrandes -->

      <!-- listing offrandes-->
      <div v-if="listing">
        <div class="overflow-auto mt-4">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>

          <p class="mt-3">Current Page: {{ currentPage }}</p>
          <p class="mt-3 text-center" style="color: blue">
            {{ offrandes.length }} enregistrement(s)
          </p>

          <b-table
            id="my-table"
            bordered
            :items="offrandes"
            :fields="fields"
            :per-page="perPage"
            :current-page="currentPage"
            head-variant="dark"
            small
          >
            <template #cell(remarques)="row">
              <b-button size="sm" @click="row.toggleDetails" class="mr-2">
                {{ row.detailsShowing ? "Hide" : "Show" }} Details
              </b-button>
              <b-form-checkbox v-model="row.detailsShowing" @change="row.toggleDetails">
                Details via check
              </b-form-checkbox>
            </template>
            <template #row-details="row">
              <b-card>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>Remarques:</b></b-col>
                  <b-col>{{ row.item.remarques }}</b-col>
                  <button @click="downloadFile(row.item.justificatif)">
                    <b-col>{{ row.item.justificatif }}</b-col><i class="fas fa-image" style="font-size: 14px"></i>
                  </button>
                </b-row>

                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>Is Active:</b></b-col>
                  <b-col>{{ row.item.isActive }}</b-col>
                </b-row>

                <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
              </b-card>
            </template>

            <!-- A virtual composite column -->
            <template v-if="admintresorier" #cell(actions)="row">
              <router-link :to="{ name: 'offrandesedit', params: { id: row.item.id } }"
                ><i class="fas fa-user-edit"></i
              ></router-link>
              |
              <button @click="suppression(row.item.id)">
                <i
                  class="fas fa-trash-alt"
                  style="font-size: 18px; color: red"
                  title="Suppression offrande-dîme"
                  data-toggle="modal"
                  data-target="#exampleModal"
                ></i>
              </button>

              <!--
              <router-link :to="{ name: 'offrandesremove', params: { id: row.item.id } }"
                ><i class="fas fa-trash-alt"></i
              ></router-link>
              -->
            </template>
          </b-table>
        </div>
        <!-- end listing offrandes-->

        <!-- Modal -->
        <div class="modalSupp">
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title alert-danger"
                    style="color: red"
                    id="exampleModalLabel"
                  >
                    Suppression Offrande-Dîme n° {{ rmOffrandeDime.id }}
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      Enregistré_le: {{ rmOffrandeDime.date_offrandes }}
                    </li>
                    <li class="list-group-item">
                      Montant : {{ rmOffrandeDime.montant }} €
                    </li>
                    <li class="list-group-item">
                      Remarques : {{ rmOffrandeDime.remarques }}
                    </li>
                    <li class="list-group-item">
                      Energistré_par : {{ rmOffrandeDime.name }}
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button
                    v-on:click="supprimer(rmOffrandeDime.id)"
                    type="button"
                    data-dismiss="modal"
                    title="Supprimer Aide"
                    class="btn btn-primary"
                  >
                    Supprimez
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueHtml2pdf from "vue-html2pdf";
import PrintA from "./printA.vue";
import PrintAM from "./printAM.vue";
export default {
  name: "Listing",
  data() {
    return {
      offrandes: [],
      notification: "Vous n'avez pas d'offrandes disponible",
      listing: false,
      fields: [
        { key: "date_offrandes", sortable: true },
        { key: "montant", sortable: true },
        "remarques",
        { key: "actions", label: "Actions" },
      ],
      perPage: 10,
      currentPage: 1,
      user: [],
      user_role: false,
      user_refused: false,
      searchresult: false,
      resultatSearch: [],
      search: "",
      Total: "",
      selected: "",
      mois: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
      offrandeMois: [],
      moisoffrandes: false,
      yearOD: false,
      showODMonth: false,
      TotalMois: "",
      somme: "",
      showalertyear: "",
      showalertmois: "",
      admintresorier: "",
      messageInfo: "",
      rolesAutho: [1, 3],
      rolesAccess: [1, 3, 5, 6],
      rmOffrandeDime: [],
      messageSucces: "",
      listYear: [],
    };
  },
  props: ["role"],
  computed: {
    rows() {
      return this.offrandes.length;
    },
  },
  async mounted() {
    this.usercurrent();
    //this.getDimesOffrandes();
  },
  methods: {
    getDimesOffrandes() {
      axios
        .get("/offrandes")
        .then((response) => {
          this.offrandes = response["data"].Data;
          this.somme = response["data"].Total;
          if (this.offrandes.length > 0) {
            this.listing = true;
            this.searchresult = false;
          } else {
            this.infos();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    onProgress(event) {
      console.log(`Processed: ${event} / 100`);
    },
    hasGenerated() {
      alert("PDF generated successfully!");
    },
    downloadFile(image) {
      axios({
        url: `/storage/uploads/${image}`,
        method: "get",
        responseType: "blob",
      })
        .then((response) => {
          var imageUrl = window.URL.createObjectURL(new Blob([response.data]));
          var imageLink = document.createElement("a");
          imageLink.href = imageUrl;
          imageLink.setAttribute("download", image);
          document.body.appendChild(imageLink);
          imageLink.click();
        })
        .catch((error) => {
          console.log("error occured");
        });
    },
    SearchOffrandes() {
      if (this.search.length == 4) {
        this.selected = "";
        this.moisoffrandes = false;
        axios.get(`searchOffrande/${this.search}`).then((response) => {
          this.offrandes = response["data"].Data;
          this.Total = response["data"].Total;
          this.somme = response["data"].Total;

          if (this.offrandes.length > 0) {
            this.searchresult = true;
            this.yearOD = true;
            this.listing = true;
          } else {
            this.messageInfo =
              "Aucun enregistrement disponible pour l'année:" + this.search;
            setTimeout(() => (this.messageInfo = ""), 5000);
            this.flashMessage.info({
              title: "Info",
              message: "Aucun enregistrement disponible, pour l'année:" + this.search,
            });
            setTimeout(() => this.getDimesOffrandes(), 8000);
          }
        });
      } else {
        //alert('ce champ ne peut être vide , merci de saisir une année valide')
        this.showalertyear =
          "Ce champ ne peut être vide , merci de saisir une année valide dans la liste";
        setTimeout(() => (this.showalertyear = ""), 5000);
      }
    },
    usercurrent() {
      axios
        .get("/currentuser")
        .then((response) => {
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            //console.log(this.AccessDash(5));
            this.AccessDash(response.data.role_id);

            if (this.user_role == true) {
              this.getDimesOffrandes();
              this.getYearOffrandesDimes();
              this.ActionsAuthorized(response["data"].role_id);
            } else {
              this.user_role = false;
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    infos() {
      this.flashMessage.success({
        title: "Success",
        message: this.notification,
      });
    },

    SearchOffrandesMois() {
      if (document.getElementById("selectmois").value == "") {
        // alert('ce champ ne peut être vide , merci de saisir un mois valide');
        this.showalertmois = "Merci de choisir un mois";
        setTimeout(() => (this.showalertmois = ""), 5000);
      } else {
        axios
          .get(`searchOffrandeYearMonth/${this.search}/${this.selected}`)
          .then((response) => {
            this.offrandes = response["data"].Data;
            this.TotalMois = response["data"].Total;
            this.somme = response["data"].Total;
            if (this.offrandes.length > 0) {
              //this.resultatSearch=response['data']['Data']
              // this.Total=response['data']['Total']
              this.moisoffrandes = true;
              this.searchresult = true;
              this.yearOD = false;
              this.showODMonth = true;
              this.listing = true;
            } else {
              this.showODMonth = false;
              this.moisoffrandes = false;
              this.notification =
                "Pas d'offrandes trouvées pour ce mois selectionné, merci";
              this.infos();
              setTimeout(() => this.getDimesOffrandes(), 8000);
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    downoadpdf() {
      axios({
        url: "/storage/offrandes.txt",
        method: "GET",
        responseType: "blob", // important
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", "file.pdf");
        document.body.appendChild(link);
        link.click();
      });
    },
    generatePDF(offrandes, somme) {
      this.$refs.html2Pdf.generatePdf(offrandes, somme);
    },
    ActionsAuthorized(myrole) {
      this.rolesAutho.forEach((element) => {
        if (element == myrole) {
          this.admintresorier = "Authorize";
        }
      });

      /*for (myrole in this.rolesAutho) {

        if (myrole == 1) {
          this.admintresorier = "Authorize";
        }
      }*/
    },
    AccessDash(myrole) {
      this.rolesAccess.forEach((element) => {
        if (element == myrole) {
          this.user_role = true;
          //return true;
        }
      });
      /* for (myrole in this.rolesAccess) {

        if (myrole == 1) {
          this.user_role = true;
          return this.user_role;
        }
      }*/
    },
    suppression(id) {
      axios
        .get(`/offrande/${id}`)
        .then((response) => {
          if (typeof response.data == "object") {
            this.rmOffrandeDime = response.data;
          } else {
            this.messageInfo = "Suppression offrande-dîme Impossible";
            this.flashMessage.info({
              title: "Info",
              message: " Echec suppression Offrande et Dîme",
            });
            setTimeout(() => (this.messageInfo = ""), 3000);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    supprimer(id) {
      axios
        .delete(`/offrande/${id}/${this.user.id_user}`)
        .then((response) => {
          if (response["data"] == "Suppression reussie") {
            this.messageSucces = "Offrande/Dîme supprimée avec succès";
            this.flashMessage.success({
              title: "Success",
              message: "Offrand/Dîme supprimée avec succès",
            });
            setTimeout(() => (this.messageSucces = ""), 5000);
            this.getDimesOffrandes();
          } else {
            this.messageInfo = "Echec suppression offrande-dîme";
            this.flashMessage.info({
              title: "Info",
              message: " Echec suppression Offrande et Dîme",
            });
            setTimeout(() => (this.messageInfo = ""), 3000);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getYearOffrandesDimes() {
      axios
        .get("/listing-year-offrandes")
        .then((res) => {
          this.listYear = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  components: {
    VueHtml2pdf,
    PrintA,
    PrintAM,
  },
};
</script>

<style scoped>
.alert_title {
  text-align: center;
}
</style>
