<template>
    <div class="container">
        <div>
             <b-alert variant="success" class="mt-2 text-center" show>Resumé Offrandes:</b-alert>
             <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(od,index) in offrandes" v-bind:key="index">
                    <th scope="row">{{ index }}</th>
                    <td>{{ od.date_offrandes }}</td>
                    <td>{{ od.montant }}</td>
                    </tr>
                    <tr>
                    <td colspan="3"><b>Total</b> </td>
                    <td class="bg-success">{{ somme }}</td>
                    </tr>

                </tbody>
           </table>

           <p class="text-center mt-8">
                  © 2020-2022  Meistad Lyon <br/>
                   <b> Qu'il est agréable, qu'il est doux pour des frères de demeurer ensemble</b> [Ps133:1] <br/>
                   Privacy · Terms
            </p>
        </div>

    </div>
</template>
<script>
export default {
    name: 'PrintOffrande',
    data() {
        return {

        }
    },
    props:['offrandes','somme']
}
</script>
<style scoped>

</style>
