<template>
  <div class="container">
    <FlashMessage></FlashMessage>

    <div v-if="user_role">
      <router-link to="/listingoffrandes" class="btn btn-primary">Listing</router-link>

      <div v-if="alertshow" class="alert alert-success mt-2" role="alert">
        <p class="text-center">Suppression offrande reussie avec success</p>
      </div>

      <div class="text-center" v-if="supp">
        <h6 class="text-center" style="color: red">
          Suppression Offrande n° {{ this.$route.params.id }}
        </h6>
        <span
          >Vous êtes sur le point de supprimer l'offrande n°
          {{ this.$route.params.id }}</span
        >
        <b-card title="Suppression" tag="article" style="max-width: 40rem" class="mb-2">
          <b-card-text>
            <div v-for="(of, index) in offrande" v-bind:key="index">N°: {{ of.id }}</div>
          </b-card-text>
          <b-card-text>
            <div v-for="(of, index) in offrande" v-bind:key="index">
              Date: {{ of.date_offrandes }}
            </div>
          </b-card-text>

          <b-card-text>
            <div v-for="(of, index) in offrande" v-bind:key="index">
              Montant: {{ of.montant }} €
            </div>
          </b-card-text>

          <b-card-text>
            <div v-for="(of, index) in offrande" v-bind:key="index">
              Observations: {{ of.remarques }}
            </div>
          </b-card-text>

          <b-button v-on:click="removeoffrande()" variant="danger">Supprimer </b-button>
        </b-card>
      </div>
    </div>
    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "removeOD",
  data() {
    return {
      offrande: [],
      messageremove: "",
      supp: false,
      user: [],
      role_id_meistad: 3,
      user_role: false,
      user_refused: false,
      alertshow: false,
    };
  },
  mounted() {
    this.usercurrent();
    axios
      .get(`api/offrande/${this.$route.params.id}`)
      .then((response) => {
        this.offrande = response["data"];
        if (this.offrande.length > 0) {
          this.supp = true;
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    removeoffrande() {
      axios
        .delete(`api/offrande/${this.$route.params.id}/${this.user.id_user}`)
        .then((response) => {
          this.messageremove = response["data"];
          this.supp = false;
          this.alertshow = true;
          this.notification();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    notification() {
      this.flashMessage.success({
        title: "Success",
        message: this.messageremove,
      });
    },
    usercurrent() {
      axios
        .get("/currentuser")
        .then((response) => {
          console.log(response["data"]);
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            if (this.user.role_id == 3 || this.user.role_id == 1) {
              this.user_role = true;
            } else {
              this.user_role = false;
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped></style>
