<template>
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">Dashboard-Couture</div>
                     <router-link to="/couture" class="text-center">HOME</router-link>
                  
                    <div class="row">
                            <div class="col-sm-4 my-2">
                                <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Suivie </h5>
                                    <p class="card-text">Réferencement des dîmes et offrandes du dimanche</p>
                                    <ul class="list-group list-group-flush">
                                       <router-link to="/listingoffrandes"><li class="list-group-item">Listing</li></router-link>    
                                      <router-link to="/offrandes"><li class="list-group-item">Ajouter</li></router-link>  
                                        <li class="list-group-item">Editer</li>
                                        <li class="list-group-item">Supprimer</li>
                                   </ul>
                                   <router-link to="/offrandes" class="btn btn-primary">Go Culte</router-link>
                                 <router-link to="/" class="btn btn-primary">Accueil</router-link>
                                   
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-4 my-2">
                                <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Suivie des charges</h5>
                                    <p class="card-text">Déclarations des carges de l'église </p>
                                    <ul class="list-group list-group-flush">
                                        <router-link to="/listingdepenses"><li class="list-group-item">Listing</li></router-link>  
                                         <router-link to="/depenses"><li class="list-group-item">Ajouter</li></router-link>  
                                       
                                     <li class="list-group-item">Editer</li>
                                        <li class="list-group-item">Supprimer</li>
                                   </ul>
                                     <router-link to="/depenses" class="btn btn-primary">Go Depenses</router-link>
                                    <router-link to="/" class="btn btn-primary">Accueil</router-link>
                                   
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-4 my-2">
                                <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Recette</h5>
                                    <p class="card-text">Récap des recettes.<br>
                                    Affiche un bilan des recettes et charges et du solde disponible.<br>
                                    </p>
                                   <ul class="list-group list-group-flush">
                                     <li class="list-group-item">Recettes</li>   
                                      <li class="list-group-item">Charges</li>  
                                       <li class="list-group-item">Solde</li>  
                                   </ul>
                                    <a href="#" class="btn btn-primary">Go Bilan</a>
                                </div>
                                </div>
                            </div>
                     </div>
                </div> 
                    
            </div>
        </div>
       
    </div>
</template>

<script>
export default {
    name: 'AccueilCouture',
    data(){
        return {

        }
    },
    props: ['user']
}
</script>

<style scoped>

</style>