<template>
  <div class="container">
    <FlashMessage></FlashMessage>

    <div v-if="user_role" class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center">Dashboard-Meistad</div>

          <router-link to="/" class="text-center">HOME</router-link>

          <div class="row">
            <div class="col-md-3 ml-5 my-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue">
                    Suivie des Dîmes et offrandes
                  </h5>
                  <p class="card-text">
                    Enregistrement et Listing des dîmes et offrandes
                  </p>
                  <ul class="list-group list-group-flush">
                    <router-link to="/listingoffrandes"
                      ><li class="list-group-item">Listing</li></router-link
                    >
                    <router-link v-if="admin_tresorerie" to="/offrandes"
                      ><li class="list-group-item">Ajouter</li></router-link
                    >
                    <li v-if="admin_tresorerie" class="list-group-item">Editer</li>
                    <li v-if="admin_tresorerie" class="list-group-item">Supprimer</li>
                  </ul>

                  <router-link to="/listingoffrandes" class="btn btn-primary mt-2"
                    >Go Culte</router-link
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3 ml-5 my-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue">Suivie des charges</h5>
                  <p class="card-text">Enregistrement et Listing des charges</p>
                  <ul class="list-group list-group-flush">
                    <router-link to="/listingdepenses"
                      ><li class="list-group-item">Listing</li></router-link
                    >

                    <router-link v-if="admin_tresorerie" to="/depenses"
                      ><li class="list-group-item">Ajouter</li></router-link
                    >

                    <li v-if="admin_tresorerie" class="list-group-item">Editer</li>
                    <li v-if="admin_tresorerie" class="list-group-item">Supprimer</li>
                  </ul>
                  <router-link to="/listingdepenses" class="btn btn-primary mt-2"
                    >Go Depenses</router-link
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3 ml-5 my-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue">Recette</h5>
                  <p class="card-text">Résumé de la tésorerie</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Recettes</li>
                    <li class="list-group-item">Charges</li>
                    <li class="list-group-item">Solde</li>
                  </ul>

                  <router-link to="/bilan" class="btn btn-primary">Go Bilan</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Demo from "./demo";
export default {
  data() {
    return {
      user_current: [],
      user_role: false,
      user_refused: false,
      admin_tresorerie: "",
      roles: [1, 3],
    };
  },
  props: ["role"],
  async mounted() {
    axios
      .get("/currentuser")
      .then((response) => {
        if (typeof response.data == "object") {
          if (response.data.role_id == this.role) {
            this.user_role = true;
            this.ActionsAuthorized(response.data.role_id);
          } else {
            this.user_refused = true;
            this.flashMessage.info({
              title: "Info",
              message: "Unauthenticated",
            });
          }
        } else {
          this.user_refused = true;
          this.flashMessage.info({
            title: "Info",
            message: "Echec Authentification",
          });
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
  components: {
    demo: Demo,
  },
  methods: {
    ActionsAuthorized(myrole) {
      this.roles.forEach((element) => {
        if (element == myrole) {
          this.admin_tresorerie = "Authorized";
        }
      });
    },
  },
};
</script>
