<template>
    <div>
         <h1>fa fa-edit</h1>

<i class="fa fa-edit"></i>
<i class="fa fa-edit" style="font-size:24px"></i>
<i class="fa fa-edit" style="font-size:36px"></i>
<i class="fa fa-edit" style="font-size:48px;color:red"></i>
<br>

<p>Used on a button:</p>
<button style="font-size:24px">Button <i class="fa fa-edit"></i></button>

<p>Unicode:</p>
<i style="font-size:24px" class="fa">&#xf044;</i>

    </div>
</template>

<script>
export default {
    name: 'DEMO'
}
</script>

<style scoped>

</style>