<template>
  <div class="container">
    <FlashMessage></FlashMessage>

    <div v-if="user_role">
      <!-- Admin -->
      <div v-if="role_id_admin == user.role_id">
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant admin</span
        >
        <admin></admin>
      </div>

      <!-- Tresorerie -->
      <div v-if="role_id_tresorerie == user.role_id">
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant que trésorier(ère)</span
        >
        <tresorerie :user="user"></tresorerie>
      </div>

      <!-- Couture -->

      <div v-if="role_id_couture == user.role_id">
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant que couturière</span
        >
        <couture :user="user"></couture>
      </div>

      <!-- Secretaire -->

      <div v-if="role_secretaire == user.role_id">
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant que sécretaire</span
        >
        <secretaire :user="user"></secretaire>
      </div>

      <!--Pasteur -->
      <div v-if="role_id_pasteur == user.role_id">
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant que pasteur</span
        >
        <pasteur :user="user"></pasteur>
      </div>

      <!--Respo -->

      <div v-if="role_id_respo == user.role_id">
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant que responsable</span
        >
        <respo :user="user"></respo>
      </div>

      <div v-if="role_id_comVit == user.role_id">
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant que comité visite</span
        >
        <comvit :user="user"></comvit>
      </div>

      <div
        v-if="role_id_user_normal"
        class="alert alert-success alert_title"
        role="alert"
      >
        <span
          >Bonjour <b>{{ user.name }}</b> vous êtes loggé en tant que user normal</span
        >
      </div>
    </div>

    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Demo from "./demo";
import Meistad from "./AccueilMeistad";
import Tresorerie from "./tresorerie/dashboard.vue";
import Couture from "./AccueilCouture";
import Admin from "./Admin/Accueil";
import Secretaire from "./Secretaire/Accueil";
import Pasteur from "./dashboard_pasteur_respo/DashboardPasteur.vue";
import ComVit from "./comite_visite/dashboard.vue";
import Respo from "./dashboard_pasteur_respo/dashboard_respo.vue";
export default {
  data() {
    return {
      user: [],
      role_id_admin: "",
      role_id_comVit: "",
      role_id_meistad: "",
      role_secretaire: "",
      role_id_pasteur: "",
      role_id_respo: "",
      role_id_tresorerie: "",
      role_id_user_normal: "",
      role_id_couture: "",
      user_role: false,
      user_refused: false,
      roles_users: [],
    };
  },
  mounted() {
    this.getRoles();
  },
  methods: {
    currentUser() {
      axios
        .get("/currentuser")
        .then((response) => {
          if (typeof response.data != {}) {
            this.user = response["data"];
            this.user_role = true;
            this.AccessDashboard(response.data.role_id);
          } else {
            this.user_refused = true;
            this.flashMessage.info({
              title: "Info",
              message: "Unauthenticaded",
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRoles() {
      axios
        .get("/roles")
        .then((response) => {
          if (typeof response.data == "object") {
            this.roles_users = response.data;
            setTimeout(() => this.currentUser(), 100);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    AccessDashboard(myrole) {
      switch (myrole) {
        case 1:
          this.role_id_admin = 1;
          break;
        case 2:
          this.role_id_user_normal = 2;
          break;

        case 3:
          this.role_id_tresorerie = 3;
          break;
        case 4:
          this.role_secretaire = 4;
          break;

        case 5:
          this.role_id_pasteur = 5;
          break;

        case 6:
          this.role_id_respo = 6;
          break;
        case 7:
          this.role_id_comVit = 7;
          break;
        default:
        // code block
      }
    },
  },
  components: {
    demo: Demo,
    meistad: Meistad,
    couture: Couture,
    admin: Admin,
    secretaire: Secretaire,
    pasteur: Pasteur,
    respo: Respo,
    tresorerie: Tresorerie,
    comvit: ComVit,
  },
};
</script>
<style scoped>
.entete {
  margin-top: 5px;
}
.alert_title {
  text-align: center;
}
</style>
