<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center" style="color: blue">Dashboard-Meistad</div>

          <router-link to="/" class="text-center mt-2">HOME</router-link>

          <div v-if="user_role">
            <div class="row">
              <div class="col-md-5 ml-5 my-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" style="color: blue">Infos Personnelle</h5>
                    <p class="card-text">Gestion de mon compte</p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">ajouter</li>
                      <li class="list-group-item">Editer</li>
                      <li class="list-group-item">Supprimer</li>
                    </ul>
                    <router-link to="/moncompte" class="btn btn-primary mt-2"
                      >Mon Profil</router-link
                    >
                  </div>
                </div>
              </div>
              <!--
                                <div class="col-sm-4 ml-2 my-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:blue">Informations Meistad</h5>
                                            <p class="card-text">Alerte envoi de messages. </p>
                                            <ul class="list-group list-group-flush">
                                                 <li class="list-group-item">Alerte Mail </li>
                                                 <li class="list-group-item">Alerte SMS </li>
                                            </ul>
                                            <router-link to="/form" class="btn btn-primary mt-2">Envoi Infos</router-link>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3 ml-2 my-2">
                                     <div class="card">
                                         <div class="card-body">
                                             <h5 class="card-title" style="color:blue">Informations Meistad</h5>
                                             <p class="card-text">Envoi de messages personnel à un fidèle. </p>
                                             <ul class="list-group list-group-flush">
                                                 <li class="list-group-item">Send  Mail </li>
                                                 <li class="list-group-item">Send SMS </li>
                                             </ul>
                                             <router-link to="/formmessageperso" class="btn btn-primary mt-2">Envoi Message</router-link>
                                         </div>
                                     </div>

                                </div>
                                -->
              <div v-if="myDashboard" class="col-md-5 ml-5 my-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Trésorerie Meistad</h5>
                    <p class="card-text">Suivie activité Meistad.</p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Offrandes et Dimes</li>
                      <li class="list-group-item">Dépenses</li>
                      <li class="list-group-item">Bilan</li>
                    </ul>

                    <router-link
                      :to="{ name: 'dash_tresorerie', params: { role: user.role_id } }"
                      class="btn btn-primary mt-2"
                      >Trésorerie</router-link
                    >
                  </div>
                </div>
              </div>
              <div v-else>
                <div class="alert alert-primary" role="alert">
                  <p>Merci de contacter l'admin.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="user_refused">
        <div class="alert alert-danger text-center" role="alert">
          <router-link to="/" class="btn btn-primary">Accueil</router-link>
          | Accès interdit, merci !
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "DashboardPasteur",
  data() {
    return {
      user_role: false,
      user_refused: false,
      myDashboard: "",
      roles: [1, 3, 5, 6],
    };
  },
  mounted() {
    this.currentUser();
    /*if (this.user.role_id == 5) {
      this.user_role = true;
    } else {
      this.user_refused = true;
    }*/
  },

  props: ["user"],
  methods: {
    currentUser() {
      axios
        .get("/currentuser")
        .then((response) => {
          if (typeof response.data != {}) {
            if (this.user.role_id == response.data.role_id) {
              this.user_role = true;
              this.ActionsAuthorized(response.data.role_id);
            } else {
              this.user_refused = true;
              this.flashMessage.info({
                title: "Info",
                message: "Unauthenticaded",
              });
            }
            // this.user = response["data"];
          } else {
            this.user_refused = true;
            this.flashMessage.info({
              title: "Info",
              message: "Unauthenticaded",
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    ActionsAuthorized(myrole) {
      this.roles.forEach((element) => {
        if (element == myrole) {
          this.myDashboard = "Go Dashboard";
        }
      });
    },
  },
};
</script>
<style scoped></style>
