<template>
    <div>
         <router-link to="/couture" class="btn btn-primary">Accueil</router-link>
        bientôt disponible ajout couture
        </div>
</template>

<script>
export default {
    name: "AddCouture",
    data(){
        return {

        }
    }
}
</script>
<style scoped>

</style>

