<template>
  <div class="container">
    <FlashMessage></FlashMessage>
    <router-link to="/" class="btn btn-primary">Accueil</router-link>
    <router-link :to="{ name: 'statBilan' }" class="btn btn-primary"
      >Bilan graphique</router-link
    >
    <div class="alert alert-info alert_title mt-2" role="alert">
      {{ messageInfo.length > 0 ? messageInfo : "Bilan comptable de la trésorerie" }}
    </div>

    <!-- search offrandes -->
    <div v-if="show" class="alert alert-warning alert_title mt-2" role="alert">
      {{ show }}
    </div>

    <!-- Bilan annuel -->
    <div v-if="bilansearch">
      <!-- Generate pdf-->
      <vue-html2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="true"
        :preview-modal="true"
        :paginate-elements-by-height="1400"
        filename="Bilan_annuel"
        :pdf-quality="2"
        :manual-pagination="false"
        pdf-format="a4"
        :pdf-margin="10"
        pdf-orientation="portrait"
        pdf-content-width="800px"
        @progress="onProgress($event)"
        ref="html2Pdf"
      >
        <section slot="pdf-content">
          <PrintB :bilan="bilan" :search="search" />
        </section>
      </vue-html2pdf>
    </div>

    <div v-if="user_role">
      <div @click="generatePDF()" class="np-btn mb-3"><button>Generate PDF</button></div>
      <!-- search bilan by year -->
      <div class="text-right mb-4">
        <label for="pnom">Selectioner une année</label>
        <div class="input-group">
          <select v-model="search" class="custom-select" id="inputProjet">
            <option v-for="(year, index) in listYear" v-bind:key="index">
              {{ year.year }}
            </option>
          </select>
          <div class="input-group-append">
            <button
              class="btn btn-primary"
              type="button"
              title="Search bilan "
              v-on:click="SearchBilan()"
            >
              Go search
            </button>
          </div>
        </div>
      </div>

      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Recette</th>
            <th scope="col">Dépenses</th>
            <th scope="col">Solde</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{ bilan["date"] }}</td>
            <td>{{ bilan["Offrandes"] }} €</td>
            <td>{{ bilan["Depenses"] }} €</td>
            <td>{{ (bilan["Offrandes"] - bilan["Depenses"]).toFixed(2) }} €</td>
          </tr>
        </tbody>
      </table>

      <!-- Generate pdf-->
      <vue-html2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="true"
        :preview-modal="true"
        :paginate-elements-by-height="1400"
        filename="Bilan_Total"
        :pdf-quality="2"
        :manual-pagination="false"
        pdf-format="a4"
        :pdf-margin="10"
        pdf-orientation="portrait"
        pdf-content-width="800px"
        @progress="onProgress($event)"
        ref="html2Pdf"
      >
        <section slot="pdf-content">
          <Print :bilan="bilan" />
        </section>
      </vue-html2pdf>
    </div>

    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueHtml2pdf from "vue-html2pdf";
import Print from "./print.vue";
import PrintB from "./printB.vue";
export default {
  name: "Bilan",
  data() {
    return {
      bilan: [],
      user_role: false,
      user_refused: false,
      search: "",
      show: "",
      notification: "",
      bilansearch: false,
      roles: [1, 3, 5, 6],
      messageInfo: "",
      listYear: [],
    };
  },

  mounted() {
    this.currentuser();
  },

  methods: {
    getBilan() {
      axios
        .get("/bilan")
        .then((response) => {
          if (typeof response.data == "object") {
            this.bilan = response["data"];
          } else {
            this.messageInfo = "Aucun résultat trouvé";
            this.flashMessage.info({
              title: "Info",
              message: "Aucun résultat trouvé",
            });
            setTimeout(() => (this.messageInfo = ""), 5000);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onProgress(event) {
      console.log(`Processed: ${event} / 100`);
    },
    hasGenerated() {
      alert("PDF generated successfully!");
    },
    currentuser() {
      axios
        .get("/currentuser")
        .then((response) => {
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            this.ActionsAuthorized(response.data.role_id);
            console.log(this.user_role);
            if (this.user_role == true) {
              this.getBilan();
              this.listingYear();
            } else {
              this.user_role = false;
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    SearchBilan() {
      if (this.search.length == 4) {
        axios
          .get(`searchBilanByYear/${this.search}`)
          .then((response) => {
            this.bilan = response["data"];

            if (response["data"].Offrandes > 0 || response["data"].Depenses > 0) {
              this.bilansearch = true;
              this.show = false;
            } else {
              this.messageInfo =
                "Aucun resultat disponible pour cette année " + this.search;
              this.notification =
                "Aucun resultat disponible pour cette année " + this.search;
              this.infos();
              setTimeout(() => (this.messageInfo = ""), 5000);

              setTimeout(() => this.getBilan(), 8000);
            }
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.show = "Merci de selectionner  une année valide dans la liste";
        setTimeout(() => (this.show = ""), 5000);
      }
    },
    infos() {
      this.flashMessage.success({
        title: "Success",
        message: this.notification,
      });
    },
    generatePDF(bilan) {
      this.$refs.html2Pdf.generatePdf(bilan);
    },
    ActionsAuthorized(myrole) {
      this.roles.forEach((element) => {
        if (element == myrole) {
          this.user_role = true;
        }
      });
    },
    listingYear() {
      axios
        .get("/listing-year")
        .then((res) => {
          console.log(res);
          this.listYear = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  components: {
    VueHtml2pdf,
    Print,
    PrintB,
  },
};
</script>

<style scoped>
.alert_title {
  text-align: center;
}
</style>
