<template>
  <div class="container">
    <div class="alert alert-primary alert_title" role="alert">Bilan annuel graphique</div>
    <a @click="$router.go(-1)">Retour</a>
    <div v-if="user_role">
      <Bar v-if="loaded" :data="chartData" />
    </div>
    <div v-if="user_refused">
      <div class="alert alert-danger text-center" role="alert">
        <router-link to="/" class="btn btn-primary">Accueil</router-link>
        | Accès interdit, merci !
      </div>
    </div>
  </div>
</template>
<script>
import { Bar } from "vue-chartjs";

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
} from "chart.js";
import axios from "axios";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement
);

export default {
  name: "BarChart",
  data() {
    return {
      myYear: [],
      myBilans: [],
      loaded: false,
      chartData: null,
      roles: [1, 3, 5, 6],
      user_role: false,
      user_refused: false,
      chartData: {
        labels: [],
        datasets: [
          {
            label: "Bilan caisse/année en €",
            backgroundColor: "#00FF00",
            data: [],
          },
        ],
      }
    };
  },

  components: { Bar },
  async mounted() {
    this.loaded = false;
    this.currentuser();
  },
  methods: {
    currentuser() {
      axios
        .get("/currentuser")
        .then((response) => {
          this.user = response["data"];
          let obj = this.user;
          if (Object.keys(obj).length > 0) {
            this.ActionsAuthorized(response.data.role_id);
            console.log(this.user_role);
            if (this.user_role == true) {
              this.getCaisse();
            } else {
              this.user_role = false;
              this.user_refused = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCaisse() {
      axios
        .get(`/caisse-stat`)
        .then((response) => {
          console.log(response.data["Year"][0] != undefined);
          if(response.data["Year"][0] != undefined){
            this.loaded = true;
            this.chartData = {
            labels: response.data["Year"],
            datasets: [
              {
                label: "Bilan caisse/année en €",
                backgroundColor: "#00FF00",
                data: response.data["Bilan"],
              },
            ],
          };
          }

        })
        .catch((error) => {
          console.log(error);
        });
    },
    ActionsAuthorized(myrole) {
      this.roles.forEach((element) => {
        if (element == myrole) {
          this.user_role = true;
        }
      });
    },
  },
};
</script>
<style scoped>
.alert_title {
  text-align: center;
}
</style>
