<template>
  <div class="container">
    <div>
      <b-alert variant="success" class="mt-2 text-center" show
        >Bilan annuel: {{ search }}
      </b-alert>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Recette</th>
            <th scope="col">Depense</th>
            <th scope="col">Solde</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>{{ bilan["date"] }}</td>
            <td>{{ bilan["Offrandes"] }} €</td>
            <td>{{ bilan["Depenses"] }} €</td>
          </tr>
          <tr>
            <td colspan="4"><b>Solde</b></td>
            <td class="bg-success">
              {{ (bilan["Offrandes"] - bilan["Depenses"]).toFixed(2) }} €
            </td>
          </tr>
        </tbody>
      </table>

      <p class="text-center mt-8">
        © 2020-2022 Meistad Lyon <br />
        <b> Qu'il est agréable, qu'il est doux pour des frères de demeurer ensemble</b>
        [Ps133:1] <br />
        Privacy · Terms
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: "PrintingBilanAnnuel",
  data() {
    return {};
  },
  props: ["bilan", "search"],
};
</script>
