APP_NAME=Meistad-Lyon
APP_ENV={{ ENV_APP }}
APP_KEY=base64:rahbitlAcj0ltnizL0j6ctjxVJs2ikIzwCfj5zRwEJk=
APP_DEBUG=false
APP_URL={{ URL_APP }}

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=meistad
DB_USERNAME=laravel
DB_PASSWORD={{ password_db }}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.googlemail.com 
MAIL_PORT=465
MAIL_USERNAME={{ mail_user }}
MAIL_PASSWORD={{ mail_password }}
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS={{ mail_from }}
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PATH_DEPENSES={{ source_public_path }}
PATH_OFFRANDES={{ source_public_path }}
PATH_UPLOAD={{ source_public_path }}
SOURCE_BACKUP={{ backup }}
SLACK_NOTIFICATION={{ slack_notif }}