<template>
  <div>
    <router-link to="/" class="text-center mt-2 mb-2">HOME</router-link>
    <div class="card">
      <Dialog
        :visible.sync="deleteProductDialog"
        :styles="{ width: '450px' }"
        header="Confirm"
        :modal="true"
      >
        <div class="confirmation-content">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
          <span v-if="product"
            >Are you sure you want to delete the selected products? {{ userinfos }}</span
          >
        </div>
        <div class="field">
          <label for="name">Name</label>
          <InputText
            id="name"
            v-model.trim="userinfos.phone"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !userinfos.phone }"
          />
          <small class="p-invalid" v-if="submitted && !userinfos.phone"
            >Name is required.</small
          >
        </div>
        <div class="field">
          <label for="description">Description</label>
          <Textarea
            id="description"
            v-model="product.description"
            required="true"
            rows="3"
            cols="20"
          />
        </div>
        <template #footer>
          <Button
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            @click="hideDialog"
          />
          <Button
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            @click="saveProduct"
          />
        </template>
      </Dialog>
    </div>
  </div>
</template>
<script>
import Toolbar from "primevue/toolbar";
import InputText from "primevue/inputtext";
import Button from "primevue/button";
import DataTable from "primevue/datatable";
import Dialog from "primevue/dialog";
import Column from "primevue/column";
import { FilterMatchMode } from "primevue/api";

export default {
  name: "PrimeDemo",
  data() {
    return {
      text: "PrimeVue",
      deleteProductDialog: true,
      product: {
        description: "",
      },
      submitted: false,
      userinfos: [],
      global: "",
      demo: "",
      selectedProducts: null,
      filters: {
        global: "Global",
        demo: "Demo",
      },
      submitted: false,
    };
  },
  props: ["id"],
  mountd() {
    this.getInfosuser();
  },
  methods: {
    getInfosuser() {
      axios
        .get(`/show/${this.id}`)
        .then((response) => {
          this.userinfos = response["data"];
          console.log("UserInfos: ", this.userinfos);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    hideDialog() {},
    saveProduct() {},

    confirm(title) {},
    openNew() {},
    confirmDeleteSelected() {},
    confirmDeleteProduct() {},
    editProduct() {},
    ormatCurrency(value) {
      if (value)
        return value.toLocaleString("en-US", { style: "currency", currency: "USD" });
      return;
    },
  },
  components: {
    Toolbar: Toolbar,
    InputText: InputText,
    Button: Button,
    DataTable: DataTable,
    Column: Column,
    Dialog: Dialog,
  },
};
</script>
<style lang="scss" scoped>
table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    align-items: start;
  }
}

.product-image {
  width: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-dialog .product-image {
  width: 50px;
  margin: 0 auto 2rem auto;
  display: block;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  ::v-deep(.p-toolbar) {
    flex-wrap: wrap;

    .p-button {
      margin-bottom: 0.25rem;
    }
  }
}
</style>
