<template>
    <div class="container">
       <FlashMessage></FlashMessage>

        <div  class="alert alert-info text-center" role="alert" >
          {{ messageEdit.length > 0 ? messageEdit : 'Infos personnelle: '+(userinfos.name) }}
       </div>

        <router-link to="/" class="text-center mt-2 mb-2">HOME</router-link>



        <div v-if="notifedit" class="alert alert-success text-center" role="alert">
                  {{ notifedit }}
        </div>

        <div v-if="alerterror" class="alert alert-warning text-center" role="alert">
                  {{ alerterror }}
        </div>

     <div class="row justify-content-center">

        <div class="col-md-8">
            <div v-if="showForm" class="card">
                <div class="card-header text-center">{{('Modification') }}</div>
                 <div class="card-body">
                    <form @submit.prevent="checkform" method="PUT">
                        <p v-if="errors.length" class="text-danger text-center">
                           <b>svp corriger la (les) erreure(s) suivante(s):</b>
                            <ul>
                              <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
                            </ul>
                        </p>

                        <div class="form-group row">
                            <label for="Name" class="col-md-4 col-form-label text-md-right">{{ ('Name:') }}</label>
                             <div class="col-md-6">
                                <p disabled>{{userinfos.name}}</p>

                             </div>
                        </div>

                         <div class="form-group row">
                            <label for="Email" class="col-md-4 col-form-label text-md-right">{{ ('Email:') }}</label>
                             <div class="col-md-6">
                                <p>{{userinfos.email}}</p>
                                <input v-model="updateuser.email"  type="email"  class="form-control" name="user_email" id="user_email" :placeholder="userinfos.email">
                             </div>
                        </div>

                        <div class="form-group row">
                            <label for="Phone" class="col-md-4 col-form-label text-md-right">{{ ('Phone:') }}</label>
                             <div class="col-md-6">
                                <p>{{userinfos.phone}}</p>
                                <input v-model="updateuser.phone"  type="text"  class="form-control" name="user_phone" id="user_phone" :placeholder="userinfos.phone">
                             </div>
                        </div>


                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    {{('Modification') }}
                                </button>
                            </div>
                        </div>

                    </form>

                 </div>
            </div>

        </div>

     </div>

    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'EditUser',
    data() {
        return {
           userinfos: [],
           updateuser: {
             email: '',
             phone: '',
             userid: this.id
           },
           errors: [],
           notifedit: "",
           alerterror: "",
           messageEdit: "",
           showForm: false
        }
    },
    props: ['id'],
    mounted() {
        this.getInfosuser()
    },
    methods: {
        notification(){
           this.flashMessage.success({
               title: 'Success',
               message: this.notifedit
           })
        },
        getInfosuser() {
            axios
            .get(`/show/${this.id}`)
            .then(response=>{
                if(typeof response.data=='object') {
                    this.userinfos=response['data'];
                    this.showForm=true;
                } else {
                    this.messageEdit='Utilisateur non trouvé';
                    this.flashMessage.error({
                        title: 'Error',
                        message:'Modification impossible, user not found'
                    })
                }

            })
            .catch(error=>{
                console.log(error)
            })
        },
        checkform() {
            this.errors = [];
            this.submitted = true;
            if (!this.updateuser.email) {
             this.errors.push('Email manquant.');
            }
            if (!this.updateuser.phone) {
             this.errors.push('Phone manquant.');
            }

            if (this.errors.length >0) {
                this.alerterror='Formulaire invalide verifié les champs, merci'
                setTimeout(() => (this.alerterror=''), 3000);
                this.flashMessage.error({
                  title: 'Ooooops',
                  message: 'Formulaire invalide verifié les champs, merci',
               })
                setTimeout(() => (this.errors=[] ), 3000);

            } else {
                axios
                .put(`/updateuser/${this.id}`, this.updateuser)
                .then(response=>{
                    if(response['data']=='Modification réussie') {
                        this.notifedit=response['data'];
                        setTimeout(() => (this.notifedit='' ), 5000);

                        this.flashMessage.success({
                            title: 'Success',
                            message: 'Infos personnelle mis à jour'
                        });
                        this.updateuser={};
                        this.getInfosuser();

                    } else {
                       this.messageEdit='Mis à jour impossible';
                        setTimeout(() => (this.notifedit='' ), 5000);
                        this.flashMessage.error({
                            title: 'Infos',
                            message:'Modification impossible, merci!'
                        });

                    }


                })
                .catch(error=>{
                    console.log(error);
                })


            }

        }
    }
}
</script>
<style scoped>

</style>
