<template>
  <div class="container">
    <div class="alert alert-success text-center" role="alert">
      {{
        messageInfo.length > 0 ? messageInfo : "Données personnelles " + infosperso.name
      }}
    </div>

    <router-link to="/" class="text-center mt-2 mb-2" title="Dashboard">HOME</router-link>
    |

    <router-link
      :to="{ name: 'passwordUser', params: { email: this.email } }"
      title="Modifier password"
      ><i class="fa fa-user-secret"></i>
    </router-link>

    <!--
    <router-link
      :to="{ name: 'demo_prime', params: { id: infosperso.id_user } }"
      class="text-center mt-2 mb-2"
      >DialogTest</router-link
    >-->

    <div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{ infosperso.name }}</td>
            <td>{{ infosperso.email }}</td>
            <td>{{ infosperso.phone }}</td>
            <td>
              <router-link :to="{ name: 'editUser', params: { id: this.user } }"
                ><i class="fas fa-user-edit"></i
              ></router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Column from "primevue/column";
export default {
  name: "MonCompte",
  data() {
    return {
      infosperso: [],
      email: "admin@admin.com",
      user: 0,
      messageInfo: "",
    };
  },
  components: {
    Column: Column,
  },
  mounted() {
    this.getInfosPerso();
  },
  methods: {
    getInfosPerso() {
      axios
        .get("/currentuser")
        .then((response) => {
          if (typeof response.data == "object") {
            this.infosperso = response["data"];

            this.email = this.infosperso.email;
            this.user = this.infosperso.id_user;
          } else {
            this.messageInfo = "Utilisateur introuvable, merci";
            setTimeout(() => (this.messageInfo = ""), 10000);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped></style>
