<template>
  <div class="container">
    <router-link to="/" class="text-center mt-2 mb-2">HOME</router-link>
    <div class="alert alert-primary text-center" role="alert">
      Changement de Password de {{ email }}
    </div>

    <div v-if="notifedit" class="alert alert-success text-center" role="alert">
      {{ notifedit }}
    </div>

    <div v-if="alerterror" class="alert alert-warning text-center" role="alert">
      {{ alerterror }}
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">{{ "Modification" }}</div>
          <div class="card-body">

            <form @submit.prevent="checkform" method="PUT">
                <p v-if="errors.length" class="text-danger text-center">
                    <b>svp corriger la (les) erreure(s) suivante(s):</b>
                    <ul>
                        <li  v-for="(error,index) in errors" v-bind:key="index"> {{ error }}</li>
                    </ul>
                </p>
                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">{{ ('E-Mail Address') }}</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" :value="email" required autocomplete="email">

                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">{{('Password Old') }}</label>

                    <div class="col-md-6">
                        <input v-model="updateuser.old_passwd" id="password" type="password" class="form-control" name="password" required autocomplete="ol-password">

                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">{{ ('Password New') }}</label>

                    <div class="col-md-6">
                        <input v-model="updateuser.new_passwd" id="password" type="password" class="form-control " name="password" required autocomplete="new-password">

                    </div>
                </div>

                <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4 text-center">
                                <button type="submit" class="btn btn-primary">
                                    {{ ('Modifier') }}
                                </button>
                            </div>
                        </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModifPassword",
  data() {
    return {
      notifedit: "",
      alerterror: false,
      errors: [],
      updateuser: {
        mail: this.email,
        old_passwd: '',
        new_passwd: ''
      }
    };
  },
  props: ["email"],
  methods: {
    checkform() {

        const config = {
            headers: {
               'content-type': 'multipart/form-data',
               'X-user': 2

            }
        }
        this.errors = [];
        this.submitted = true;

        if (!this.updateuser.old_passwd) {
            this.errors.push('Password Old manquant.');
        }
        if (!this.updateuser.new_passwd) {
            this.errors.push('Password New manquant.');
        }

        if (this.errors.length >0) {
            this.alerterror='Formulaire invalide verifié les champs, merci'
            this.notifedit=false
            this.flashMessage.error({
                  title: 'Ooooops',
                  message: 'Formulaire invalide verifié les champs, merci',

            })
        } else {
            this.alerterror=false

            let data = new FormData();
            data.append('Email', this.updateuser.mail);
            data.append('OldPassword', this.updateuser.old_passwd);
            data.append('NewPassword', this.updateuser.new_passwd);

            axios
            .post('/updatePassword',data,config)
            .then(response=>{
                console.log(response)
                this.notifedit=response['data']
                this.alerterror=false
            })
            .catch(error=>{
                console.log(error)
            })

        }
     }

  }
};
</script>
<style scoped></style>
