<template>
  <div class="container">
    <FlashMessage></FlashMessage>
    <div class="alert alert-primary text-center" role="alert">
      Akwaba sur votre dashboard
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center">Comité Visite Meistad-Lyon</div>
          <router-link to="/" class="text-center">HOME</router-link>
          <div v-if="user_role">
            <div class="row">
              <div class="col-sm-5 ml-2 my-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Infos Personnelle</h5>
                    <p class="card-text">Gestion de mon compte</p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">ajouter</li>
                      <li class="list-group-item">Modifier</li>
                    </ul>
                    <router-link to="/moncompte" class="btn btn-primary mt-2"
                      >Mon Profil</router-link
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-5 ml-2 my-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Informations Meistad</h5>
                    <p class="card-text">Alerte envoi de messages.</p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Alerte Mail</li>
                      <li class="list-group-item">Alerte SMS</li>
                    </ul>
                    <router-link to="/form" class="btn btn-primary">Go EMAIL</router-link>
                    <router-link to="/sendSms" class="btn btn-primary"
                      >Go SMS</router-link
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="user_refused">
            <div class="alert alert-danger text-center" role="alert">
              <router-link to="/" class="btn btn-primary">Accueil</router-link>
              | Accès interdit, merci !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "DashboardComVit",
  data() {
    return {
      user_role: false,
      user_refused: false,
    };
  },
  mounted() {
    this.currentUser();
  },
  props: ["user"],
  methods: {
    currentUser() {
      axios
        .get("/currentuser")
        .then((response) => {
          if (typeof response.data != {}) {
            if (this.user.role_id == response.data.role_id) {
              this.user_role = true;
            } else {
            }
          } else {
            this.user_refused = true;
            this.flashMessage.info({
              title: "Info",
              message: "Authentification echouée",
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
